Repository portworx/torpedo, pull requests merged in 2023-01, with the labels that each got.

#997 Fix: Service Name Resolution for Keycloak
  drivers/backup/auth.go
Labels: bug, enhancement

#1000 Remove unnecessary files added accidentally
  k8s/clusterGroup0/group_vars/all/all.yml
  k8s/clusterGroup0/group_vars/k8s-cluster/k8s-cluster.yml
  k8s/clusterGroup0/hosts.ini
Labels: ready-for-review

#1003 Making Bucket name env variable
  tests/backup/backup_basic_test.go
  tests/backup/backup_test.go
Labels: bug, ready-for-review

#992 Adding more IOs to fa cloud drive spec
  drivers/scheduler/k8s/specs/fio-fa-cloud-drives/fio-config-map.yaml
Labels: ready-for-review

#1006 Moved backup helper function under backup folder
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_test.go
  tests/basic/basic_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#998 Adding cloud scenarios for multi drive expansion
  drivers/scheduler/k8s/specs/fio-fastpath/fio-config-map.yaml
  drivers/scheduler/k8s/specs/fio-fastpath/fio.yaml
  drivers/scheduler/k8s/specs/fio-fastpath/pxd/px-storage-class.yaml
  drivers/volume/common.go
  drivers/volume/portworx/portworx.go
  drivers/volume/volume.go
  tests/basic/scheduler_upgrade_test.go
  tests/basic/storage_pool_test.go
  tests/common.go
  tests/testTriggers.go
Labels: new-test, ready-for-review, testing-in-progress

#1014 Corrected create rule method, seperate method for each object
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_test.go
Labels: ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1007 Adding TC for BackupLocationWithEncryptionKey
  tests/backup/backup_basic_test.go
  tests/backup/backup_test.go
  tests/common.go
Labels: new-test, ready-for-review, Px-Backup

#1018 PTX-15051: Add fix to have env inside torpedo deployment in deploy-ssh.sh
  deployments/deploy-ssh.sh
Labels: bug, Px-Backup

#1015 Share backup with users and groups
  .gitignore
  drivers/backup/auth.go
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  drivers/pds/lib/utils.go
  drivers/scheduler/k8s/k8s.go
  drivers/volume/common.go
  drivers/volume/portworx/portworx.go
  tests/backup/backup_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup

#1019 Fixed the compilation issues after merge
  tests/backup/backup_test.go
Labels: bug, Px-Backup

#1020 PA-470: Add libraries to create object locked s3 bucket
  tests/common.go
Labels: enhancement, ready-for-review, Px-Backup

#1023 PA-470: Add testcase to take alternating backups locked and unlocked
  tests/backup/backup_test.go
  tests/common.go
Labels: new-test, ready-for-review, Px-Backup

#1024 Adding TC for RestoreEncryptedAndNonEncryptedBackups
  tests/backup/backup_test.go
  tests/common.go
Labels: new-test, Px-Backup

#1021 Added testcase :Different access same user
  tests/backup/backup_basic_test.go
  tests/backup/backup_test.go
Labels: new-test, ready-for-review, Px-Backup

#1027 PA-505: Add test to restart px with running backup
  tests/backup/backup_test.go
Labels: new-test, ready-for-review, Px-Backup, Lib

#1029 Adding test case for SharedBackupEdit
  drivers/backup/backup.go
  tests/backup/backup_test.go
Labels: new-test, Px-Backup

#1033 Add: New App `postgres-backup` for PX-Backup System Tests
  drivers/scheduler/k8s/specs/postgres-backup/aws/aws-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-backup/azure/azure-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-backup/pure/pure-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-backup/px-postgres-app.yaml
  drivers/scheduler/k8s/specs/postgres-backup/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-backup/storage.yaml
Labels: Px-Backup

#1008 Adding repl 1 apps option to update the volume replication value to 1…
  deployments/deploy-ssh.sh
  drivers/scheduler/k8s/specs/aggr-mysql/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/aut-postgres/aut-postgres-storage.yaml
  drivers/scheduler/k8s/specs/bonnie-sharedv4/px-bonnie-storage.yml
  drivers/scheduler/k8s/specs/bonnie-sv4-svc/px-bonnie-storage.yml
  drivers/scheduler/k8s/specs/cassandra/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/elasticsearch-rally/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/elasticsearch/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/fio-cloudsnap/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/fio-fa-cloud-drives/px-storage-class.yaml
  drivers/scheduler/k8s/specs/fio-fstrim/px-storage-class.yaml
  drivers/scheduler/k8s/specs/fio/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/nginx-sharedv4/px-nginx-storage.yaml
  drivers/scheduler/k8s/specs/nginx/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/vdbench-heavyload/px-vdbench-storage.yml
  drivers/scheduler/k8s/specs/vdbench-sharedv4/px-vdbench-storage.yml
  drivers/scheduler/k8s/specs/vdbench-sv4-multivol/px-vdbench-storage.yml
  drivers/scheduler/k8s/specs/vdbench-sv4-svc-multivol/px-vdbench-storage.yml
  tests/basic/upgrade_test.go
  tests/common.go
Labels: enhancement, ready-for-review

#1032 Added testcase for :Share backups and cluster with user
  tests/backup/backup_test.go
Labels: new-test, Px-Backup

#1030 PA-507: Add tc to resize volume after restore
  tests/backup/backup_test.go
  tests/common.go
Labels: new-test, ready-to-merge, Px-Backup

#1031 Adding test case - Cancel Cluster backup share
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_test.go
Labels: new-test, ready-for-review, Px-Backup, Lib

#1034 PA-508: Add test to resize volume post restore from locked bucket
  tests/backup/backup_test.go
Labels: new-test, ready-for-review, Px-Backup

#1037 Minor refactoring of existing share backup tests
  tests/backup/backup_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1039 Fix for BasicBackupCreation - Added pre rule for the new postgres-backup app in AppParameters
  drivers/backup/portworx/portworx.go
  tests/backup/backup_test.go
Labels: bug, ready-to-merge, Px-Backup

#1035 Addressed pa-498:Create multiple user and group
  drivers/backup/auth.go
  tests/backup/backup_test.go
Labels: Px-Backup

#1036 Adding TC for SharedBackupDelete
  drivers/backup/portworx/portworx.go
  tests/backup/backup_test.go
Labels: new-test, ready-for-review, Px-Backup

#1040 PA-510: Add test to restart stork with backup and restore in progress
  tests/backup/backup_test.go
Labels: new-test, ready-for-review, Px-Backup, Lib

#1044 Fix `BackupName` and rename locked bucket case
  tests/backup/backup_test.go
Labels: bug, ready-for-review

#1043 Adding test case - ShareLargeNumberOfBackupsWithLargeNumberOfUsers
  tests/backup/backup_basic_test.go
  tests/backup/backup_test.go
Labels: new-test, Px-Backup

#1038 Added testcase for Share Backup With Different Role Users
  tests/backup/backup_test.go
Labels: new-test, ready-for-review, Px-Backup

#1047 PA-516: Fix px backup crash due to `.(int)` call
  tests/backup/backup_test.go
Labels: bug, Px-Backup

#1050 Fixed CancelClusterBackupShare
  drivers/backup/auth.go
  tests/backup/backup_test.go
Labels: bug, Px-Backup

#1046 Addressed PA-82937 validation of delete shared backups
  tests/backup/backup_test.go
Labels: new-test, ready-to-merge, Px-Backup

#1054 PA-471: Add test to take CustomResource backup and restore
  tests/backup/backup_test.go
Labels: new-test, Px-Backup, Lib

#1058 Cloud credential names will now be suffixed with timestamp to avoid failures
  tests/backup/backup_test.go
Labels: Px-Backup, CodeCleanupAndRefactoring

#1052 Share and duplicate backup without cluster
  tests/backup/backup_test.go
Labels: new-test, ready-for-review, Px-Backup

#1062 PA-521: Add test to change replica while restore
  tests/backup/backup_test.go
Labels: new-test, Px-Backup, Lib

#1053 Added testcase :Share and remove backup location
  tests/backup/backup_test.go
  tests/common.go
Labels: new-test, ready-for-review, Px-Backup

#1059 Helper functions to create schedule backup and to get schedule policy…
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_test.go
Labels: Px-Backup, Lib

#1012 Adding pool delete test
  deployments/deploy-ssh.sh
  drivers/node/node.go
  drivers/node/ssh/ssh.go
  drivers/scheduler/k8s/specs/fio-fastpath/fio.yaml
  drivers/volume/common.go
  drivers/volume/portworx/portworx.go
  drivers/volume/volume.go
  tests/basic/storage_pool_test.go
Labels: ready-for-review

#1063 Adding test case for ViewOnlyFullBackupRestoreIncrementalBackup
  drivers/backup/portworx/portworx.go
  drivers/pds/lib/utils.go
  drivers/volume/common.go
  drivers/volume/portworx/portworx.go
  tests/backup/backup_test.go
  tests/basic/storage_pool_test.go
Labels: new-test, ready-for-review, Px-Backup

#1011 Committing Changes for CloudDrive automation PTX-13763
  drivers/scheduler/k8s/specs/vdbench-heavyload/px-vdbench-app.yml
  drivers/volume/common.go
  drivers/volume/portworx/portworx.go
  drivers/volume/volume.go
  tests/basic/sharedv4_test.go
  tests/basic/storage_pool_test.go
Labels: ready-to-merge, ready-for-review

#1067 New TC for Deleting All backup objects
  tests/backup/backup_test.go
Labels: new-test, ready-for-review, Px-Backup

#1060 Adding delete roles and users PA-529
  tests/backup/backup_test.go
Labels: new-test, Px-Backup

#1070 Adding Test Case for Issue Multiple Deletes for Shared Backup
  tests/backup/backup_test.go
Labels: new-test, ready-for-review, Px-Backup
