Repository portworx/torpedo, pull requests merged in 2023-12, with the labels that each got.

#1918 Pre and Post rule with KubevirtVm
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  drivers/scheduler/k8s/specs/kubevirt-app/kubevirt-app.yaml
  tests/backup/backup_helper.go
  tests/backup/backup_kubevirt_test.go
Labels: ready-for-review, Px-Backup

#1929 Adding ssie events for longevity
  drivers/volume/common.go
  drivers/volume/linstor/linstor.go
  drivers/volume/portworx/portworx.go
  drivers/volume/volume.go
  tests/basic/longevity_test.go
  tests/basic/storage_pool_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review

#1871 To verify namespace labelling for different user roles
  tests/backup/backup_rbac_test.go
Labels: ready-for-review, Px-Backup

#1939 Handle Jenkins SIGTERM
  deployments/deploy-ssh.sh
Labels: enhancement, ready-for-review

#1944 PB-4786: Add backup size check in `ValidateBackup()`
  tests/backup/backup_helper.go
Labels: enhancement, ready-for-review, Px-Backup

#1932 Added helper methods for (.snapshot) exclude system tests
  drivers/volume/portworx/schedops/k8s-schedops.go
  go.mod
  go.sum
  tests/backup/backup_helper.go
  tests/backup/backup_kdmp_test.go
  tests/common.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt/virtualmachine.go
  vendor/github.com/portworx/sched-ops/k8s/storage/storageclass.go
  vendor/modules.txt
Labels: framework, new-test, ready-for-review, Px-Backup

#1959 Added new TC ExcludeInvalidDirectoryFileBackup
  tests/backup/backup_helper.go
  tests/backup/backup_kdmp_test.go
Labels: new-test, ready-for-review, Px-Backup

#1963 PB-4863: Add code to dump mongodb collection
  deployments/deploy-ssh.sh
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
Labels: ready-for-review, Px-Backup

#1971 Spelling change for test case - BackupAndRestoreWithNonExistingAdminNamespaceAndUpdatedResumeSuspendBackupPolicies
  tests/backup/backup_stork_test.go
Labels: ready-for-review, Px-Backup

#1940 Adding validation for CR cleanup
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup

#1973 Fixed backup deletion wait logic.
  tests/backup/backup_orphaned_test.go
Labels: bug, ready-for-review, Px-Backup

#1972 Fix for stork test case - Additional validation for deployment update
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup

#1976 Skipping CR cleanup validation in case of Sync Backups
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup

#1936 TC to perform a restore from a restored backup
  tests/backup/backup_restore_basic_test.go
Labels: ready-for-review, Px-Backup

#1954 Added support for spinning up debug pod on destination cluster for GKE
  drivers/node/gke/gke.go
  tests/common.go
Labels: ready-for-review, Px-Backup, Lib

#1914 Changing CreateRestore to CreateRestoreWithValidation:PB-4932
  tests/backup/backup_basic_test.go
  tests/backup/backup_delete_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_license_test.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_namespace_labelled_test.go
  tests/backup/backup_orphaned_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_scale_test.go
  tests/backup/backup_share_test.go
Labels: ready-for-review, Px-Backup

#1958 Adding support for volume driver to run on OCS
  drivers/scheduler/k8s/specs/postgres-csi/cephfs-csi/cephfs-csi-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-csi/rbd-csi/rbd-csi-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-csi/rgw-csi/rgw-csi-storage-class.yaml
  drivers/volume/ocp/ocp.go
  tests/common.go
Labels: ready-for-review, Px-Backup, testing-in-progress, Lib

#1968 Corrected CreateBackupAndRestoreForAllCombinationsOfSSES3AndDenyPolicy
  tests/backup/backup_sse_test.go
Labels: ready-for-review, Px-Backup

#1982 Skipping CR cleanup validation in case of GKE
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup

#1979 AllNSBackupWithIncludeNewNSOption: Suspending schedule before deleting it
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
Labels: ready-for-review, Px-Backup

#1981 Adding volume driver support for non-px gke
  drivers/scheduler/k8s/specs/postgres-csi/gce-pd/gce-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-csi/pd-csi-storage-gke/gce-storage-class.yaml
  drivers/volume/gce/gce.go
Labels: ready-for-review, Px-Backup, Lib

#1987 SwapShareBackup:Modifying code to delete backup of all users first and then verifying it
  tests/backup/backup_share_test.go
Labels: ready-for-review, Px-Backup

#1984 Collect pxb and stork logs for all the tests
  tests/common.go
Labels: ready-for-review, Px-Backup, Lib

#1983 Corrected testcase CustomResourceBackupAndRestore
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
Labels: ready-for-review, Px-Backup
