Repository portworx/torpedo, pull requests merged in 2023-02, with the labels that each got.

#1073 Fixed global bucket creation and created env variable for locked bucket
  deployments/deploy-ssh.sh
  tests/backup/backup_basic_test.go
  tests/backup/backup_test.go
  tests/common.go
Labels: Px-Backup, CodeCleanupAndRefactoring

#1082 Adding share backup with same name between users
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_test.go
  tests/common.go
Labels: new-test, Px-Backup

#1079 Adding New Test Case For Restart Px-backup pod during sharing a backup
  tests/backup/backup_basic_test.go
  tests/backup/backup_test.go
  tests/common.go
Labels: new-test, ready-for-review, Px-Backup

#1078 Increasing time out for PVC validations
  tests/common.go
Labels: ready-for-review

#1065 Adding test for resize with same size
  drivers/scheduler/k8s/k8s.go
  drivers/volume/portworx/portworx.go
  tests/basic/storage_pool_test.go
  tests/common.go
Labels: ready-for-review

#1080 Removed already deleted backups to prevent backup delete from failing
  tests/backup/backup_test.go
Labels: in-progress, do-not-merge, Px-Backup, CodeCleanupAndRefactoring

#1085 Post Execution safe cleanup
  drivers/backup/auth.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_test.go
Labels: ready-for-review, Px-Backup

#1096 Adding check for max drives while pool expansion
  drivers/volume/portworx/portworx.go
  go.mod
  go.sum
  tests/basic/storage_pool_test.go
  tests/common.go
  vendor/github.com/libopenstorage/operator/pkg/apis/core/v1/storagecluster.go
  vendor/github.com/libopenstorage/operator/pkg/apis/core/v1/zz_generated.deepcopy.go
  vendor/github.com/libopenstorage/operator/pkg/util/test/util.go
  vendor/modules.txt
Labels: ready-for-review

#1105 Made username and email id unique for each user:PA-615
  tests/backup/backup_test.go
Labels: in-progress

#1106 PTX-14938 Fix/improve profile only diag test
  tests/basic/telemetry_test.go
Labels: ready-for-review

#1083 OCP upgrade with force or notRecommended options
  drivers/scheduler/openshift/openshift.go
  pkg/netutil/netutil.go
  pkg/osutils/osutils.go
Labels: ready-for-review

#1126 Adding Px-Backup version info to dashboard
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_basic_test.go
Labels: framework, ready-for-review, Px-Backup

#1127 Add caller and test name info in log entry
  pkg/log/log.go
Labels: enhancement, framework, ready-for-review

#1133 Corrected the backup name:PA-636
  tests/backup/backup_helper.go
Labels: bug, Px-Backup

#1111 Adding helper methods BackupSuccessCheck and RestoreSuccessCheck
  tests/backup/backup_basic_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_test.go
Labels: ready-to-merge, Px-Backup, CodeCleanupAndRefactoring

#1136 PA-626: Fix BackupRestartPX testcase failure in system test runs
  tests/backup/backup_test.go
Labels: bug, ready-for-review, Px-Backup

#1071 Workload Generation for Elastic Search and CouchBase Data services
  drivers/pds/api/dataServiceDeployment.go
  drivers/pds/lib/utils.go
  drivers/pds/parameters/pds_default_parameters.json
  tests/pds/common.go
  tests/pds/dataservice_test.go
  tests/pds/pds_basic_test.go
Labels: ready-for-review

#1128 Fixing cloud drive tests for node maintenance and rebalance
  tests/basic/storage_pool_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review

#1137 Refactoring - handle errors, remove time.Sleep and unused function cleanup
  tests/backup/backup_helper.go
  tests/backup/backup_test.go
  tests/common.go
  tests/testTriggers.go
Labels: framework, ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1123 [PA-613] TC Automation - All namespace backup and restore selective namespaces
  tests/backup/backup_test.go
  tests/common.go
Labels: new-test, Px-Backup

#1139 Fix: Torpedo Container not Privileged to generate testresults for OCP
  deployments/deploy-ssh.sh
Labels: bug, framework, ready-for-review

#1147 Remove bucket from str where not creating bucket
  tests/backup/backup_test.go
Labels: ready-for-review, Px-Backup, MinorStringOrCommentFix

#1149 Registers Target cluster to the control plane
  drivers/pds/lib/utils.go
  drivers/pds/parameters/pds_default_parameters.json
  drivers/pds/targetcluster/targetcluster.go
  tests/pds/common.go
  tests/pds/pds_basic_test.go
Labels: ready-for-review

#1148 [PA-643] Modify GetBackupUID to throw an error if UID cannot be found
  drivers/backup/portworx/portworx.go
Labels: bug, Px-Backup

#1112 Adding test to validate fstrim after repl add and restart
  drivers/scheduler/k8s/specs/fio-fstrim/fio-config-map.yaml
  drivers/volume/common.go
  drivers/volume/portworx/portworx.go
  drivers/volume/volume.go
  tests/basic/misc_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review

#1153 fixed small change to validate migrated resources count
  tests/testTriggers.go
Labels: ready-for-review

#1154 Modified code for cloud cred deletion:PA-647
  tests/backup/backup_helper.go
  tests/backup/backup_test.go
  tests/common.go
Labels: Px-Backup

#1141 [PA-637] Modify GetPxBackupNamespace to detect PxBackup namespace
  drivers/backup/auth.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_test.go
Labels: bug, Px-Backup
