Repository portworx/torpedo, pull requests merged in 2023-09, with the labels that each got.

#1640 Increased stork pod validation timeout from 15 to 20 min
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup

#1646 PA-1367: Bring down the KVDB nodes during restore.
  drivers/pds/lib/resiliency_utils.go
  tests/pds/pds_common.go
  tests/pds/pds_resiliency_test.go
Labels: ready-for-review

#1632 Adding fixes for cloud drive tests
  drivers/scheduler/k8s/specs/fio-aggr-cloudsnap/fio-config-map.yaml
  drivers/scheduler/k8s/specs/fio-aggr-cloudsnap/fio.yaml
  drivers/scheduler/k8s/specs/fio-aggr-cloudsnap/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/fio/pxd/px-storage-class.yaml
  drivers/volume/portworx/portworx.go
  tests/basic/node_decommission_test.go
  tests/basic/ocp_node_recycle_test.go
  tests/basic/storage_pool_test.go
  tests/basic/volume_ops_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review

#1665 [PB-4425] Add ActivityTimeLine Support
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
Labels: ready-for-review, Px-Backup, Lib

#1667 [PA-1399/PA-1405] Update portworx methods to ensure compatibility with px-backup 2.6.0 and Orphaned Test cases
  drivers/backup/auth.go
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_orphaned_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/common.go
Labels: new-test, ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1653 [PA-1622] Fix DeleteMultipleUsers, DeleteMultipleGroups
  drivers/backup/auth.go
Labels: ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1669 Added new orphaned backup tests.
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  go.mod
  tests/backup/backup_helper.go
  tests/backup/backup_orphaned_test.go
Labels: ready-for-review, Px-Backup

#1670 [PTX-20136] Fix Text Issues
  tests/basic/longevity_test.go
  tests/testTriggers.go
Labels: priority/low, MinorStringOrCommentFix

#1663 Adding a new testcase for alternate backups across NFS and S3 backup locations
  tests/backup/backup_restore_basic_test.go
Labels: new-test, ready-for-review, Px-Backup

#1681 PA-1630: Add addional logs to dump backup name list
  tests/backup/backup_restore_basic_test.go
Labels: bug, ready-for-review, Px-Backup

#1679 [PTX-20204] Fix Text Issues in Monitor Driver
  drivers/monitor/monitor.go
  drivers/monitor/prometheus/prometheus.go
Labels: priority/low, ready-for-review, MinorStringOrCommentFix

#1685 [PA-1667] Add GinkgoRecover()
  tests/backup/backup_helper.go
  tests/backup/backup_orphaned_test.go
Labels: bug, ready-for-review, Px-Backup, testing-in-progress

#1695 Adding helper function to delete namespaces stuck in Terminating state
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup

#1686 Added label and annotation to the rancher project and addition step in the existing rke testcases
  drivers/scheduler/rke/rke.go
  tests/backup/backup_helper.go
  tests/backup/backup_rancher_test.go
Labels: ready-for-review, Px-Backup

#1634 Fixed minor cleanup in the testcases
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
Labels: ready-for-review, Px-Backup

#1687 Adding trashcan recovery test
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/k8s/specs/fio-aggr-cloudsnap/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/fio-pod/fio-config-map.yaml
  drivers/scheduler/k8s/specs/fio-pod/px-fio-app.yaml
  drivers/scheduler/k8s/specs/fio-pod/px-fio-storage.yaml
  tests/basic/customer_issues_test.go
  tests/basic/storage_pool_test.go
  tests/basic/volume_ops_test.go
  tests/testTriggers.go
Labels: ready-for-review

#1697 Changes to run px-backup tests on GKE cloud
  drivers/scheduler/dcos/dcos.go
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/scheduler.go
  go.mod
  tests/backup/backup_basic_test.go
  tests/common.go
  vendor/github.com/portworx/px-backup-api/pkg/kubeauth/gcp/gcp.go
  vendor/github.com/portworx/px-backup-api/pkg/kubeauth/kubeauth.go
  vendor/go.uber.org/multierr/.codecov.yml
  vendor/go.uber.org/multierr/.gitignore
  vendor/go.uber.org/multierr/CHANGELOG.md
  vendor/go.uber.org/multierr/LICENSE.txt
  vendor/go.uber.org/multierr/Makefile
  vendor/go.uber.org/multierr/README.md
  vendor/go.uber.org/multierr/error.go
  vendor/go.uber.org/multierr/glide.yaml
  vendor/modules.txt
Labels: ready-for-review, Px-Backup, Lib

#1688 [PB-4458] Add Metrics inspect Support
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
Labels: ready-for-review, Px-Backup, Lib

#1704 [PA-1681] Rename WaitForClusterDeletion
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/common.go
Labels: ready-for-review, Px-Backup, testing-in-progress, CodeCleanupAndRefactoring

#1690 Added new RBAC TC VerifyRBACforInfraAdmin and helper methods
  drivers/backup/auth.go
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_helper.go
  tests/backup/backup_rbac_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup

#1708 Removed the logic of appending px-admin-group in update ownership
  tests/backup/backup_helper.go
  tests/common.go
Labels: ready-for-review, Px-Backup

#1705 Added fixes for DeleteSharedBackup and ShareAndRemoveBackupLocation test failures.
  tests/backup/backup_share_test.go
Labels: ready-for-review, Px-Backup, testing-in-progress

#1706 TC Automation - Delete locked schedule backup and manual backup by non-admin user from admin
  tests/backup/backup_locked_bucket_test.go
Labels: ready-for-review, Px-Backup

#1639 Added DeleteAppNamespace in cleanup to delete namespace for rancher testcases
  tests/backup/backup_rancher_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup
