Repository portworx/torpedo, pull requests merged in 2023-07, with the labels that each got.

#1505 Fixed backup deletion issue with ShareBackupWithUsersAndGroups
  tests/backup/backup_share_test.go
Labels: ready-for-review, Px-Backup, testing-in-progress

#1504 [PA-1319] Remove helper package in backup driver
  drivers/backup/helper/backup_helper.go
Labels: ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1501 Restore after validating the backup location
  tests/backup/backup_helper.go
  tests/backup/backup_portworx_test.go
Labels: ready-for-review, Px-Backup

#1499 Modified mysql-backup spec file
  drivers/scheduler/k8s/specs/mysql-backup/px-mysql-storage.yaml
  drivers/scheduler/k8s/specs/mysql-backup/pxd/px-mysql-snapshot-clones.yaml
  drivers/scheduler/k8s/specs/mysql-backup/pxd/px-mysql-snapshots.yaml
  drivers/scheduler/k8s/specs/mysql-backup/pxd/px-storage-class.yaml
Labels: bug, Px-Backup

#1514 Adding test to create aggressive cloudsnaps and deleting cloud snaps
  drivers/scheduler/k8s/k8s.go
  drivers/volume/common.go
  drivers/volume/portworx/portworx.go
  drivers/volume/volume.go
  tests/basic/customer_issues_test.go
Labels: ready-for-review

#1518 PA-1326: Add check to make sure bucket is empty
  tests/backup/backup_restore_basic_test.go
Labels: bug, ready-for-review, Px-Backup

#1511 Get volumemounts independent of application volume type, and select pods based on label from deployment spec
  tests/backup/backup_helper.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_portworx_test.go
Labels: bug, ready-for-review, Px-Backup, Lib

#1520 Cloudsnap restore and Parameterising io_profile in the specs
  drivers/scheduler/k8s/specs/elasticsearch-rally/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/elasticsearch/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/fio-cloudsnap/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/fio-localsnap/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/fio/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/pgbench-io-portion/px-pgbench-storage.yaml
  drivers/scheduler/k8s/specs/pgbench/pxd/pgbench-px-storage-class.yaml
  drivers/scheduler/k8s/specs/sysbench-postgres-fstrim/storage-class.yaml
  drivers/scheduler/k8s/specs/sysbench/pxd/storage-class.yaml
  drivers/scheduler/k8s/specs/vdbench-sharedv4/px-vdbench-storage.yml
  drivers/scheduler/k8s/specs/vdbench-sv4-svc/px-vdbench-storage.yml
  drivers/scheduler/scheduler.go
  tests/basic/customer_issues_test.go
  tests/basic/longevity_test.go
  tests/basic/volume_ops_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review

#1530 PA-846: Add `UpdateBackupLocationOwnership()` to `backup_helper.go`
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup

#1527 Fixes for test run on PSO setup
  drivers/node/ssh/ssh.go
  drivers/scheduler/k8s/specs/cassandra-pso/pso/pure-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-pso/pso/pure-storage-class.yaml
  drivers/volume/pso/pso.go
  tests/backup/backup_helper.go
  tests/backup/backup_share_test.go
  tests/backup/backup_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup

#1533 Added an addtional parameter in DeleteCluster
  tests/backup/backup_helper.go
  tests/backup/backup_license_test.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup, testing-in-progress

#1532 Check atleast 2 mongo pods are up if 3 mongo pods have not come up even after waiting for 30 min
  tests/backup/backup_helper.go
Labels: bug, ready-for-review, Px-Backup, Lib

#1517 Integration of Parse cloud config for test/module for px-backup to run on the different cloud providers
  drivers/backup/cloud_config.json
  drivers/backup/cloud_cred_config.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_test.go
Labels: ready-for-review, Px-Backup, Lib

#1531 Added rules,cloud credentials,schedule policy share helper functions
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup

#1513 Adding cloud account and backup location for rancher
  deployments/deploy-ssh.sh
  drivers/drivers.go
  drivers/node/node_registry.go
  drivers/scheduler/rke/rke.go
  drivers/volume/portworx/schedops/rke-schedops.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_delete_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_license_test.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_namespace_labelled_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_rancher_test.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_test.go
  tests/backup/backup_upgrade_test.go
  tests/common.go
  vendor/github.com/portworx/sched-ops/k8s/core/namespaces.go
  vendor/modules.txt
Labels: ready-for-review, Px-Backup

#1537 Fixing volume resize test and updating openstorage sdk
  drivers/scheduler/dcos/dcos.go
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/scheduler.go
  go.mod
  go.sum
  tests/basic/volume_ops_test.go
  tests/testTriggers.go
  vendor/github.com/libopenstorage/openstorage/api/api.pb.go
  vendor/github.com/libopenstorage/openstorage/api/api.pb.gw.go
  vendor/github.com/libopenstorage/openstorage/api/api.proto
  vendor/github.com/libopenstorage/openstorage/api/spec/spec_handler.go
  vendor/github.com/libopenstorage/openstorage/pkg/keylock/keylock.go
  vendor/github.com/libopenstorage/openstorage/volume/volume.go
  vendor/modules.txt
Labels: ready-for-review

#1546 Removing the refrence test testParseConfig
  tests/backup/backup_test.go
Labels: ready-for-review, Px-Backup

#1544 Removed unwanted method call from CreateApplicationClusters
  tests/common.go
Labels: ready-for-review, Px-Backup

#1545 Measure and fail test if node takes more than the desired time to upgrade anthos user cluster node.
  drivers/scheduler/anthos/anthos.go
  drivers/scheduler/k8s/k8s.go
Labels: ready-for-review

#1551 PDS: Add restore lib and test basic restore functionality.
  drivers/pds/api/backup.go
  drivers/pds/api/restore.go
  drivers/pds/pdsbackup/backup_utils.go
  drivers/pds/pdsrestore/helper.go
  drivers/pds/pdsrestore/restore_utils.go
  drivers/pds/pdsutils/environment.go
  tests/pds/common.go
  tests/pds/restore_test.go
Labels: ready-for-review

#1550 PTX-18757 Upgrade PX and Operator in air-gapped env
  Dockerfile
  drivers/volume/portworx/portworx.go
  pkg/osutils/osutils.go
  tests/basic/upgrade_test.go
Labels: ready-for-review, testing-in-progress

#1540 Adding volume driver for IKS cluster
  deployments/deploy-ssh.sh
  drivers/scheduler/k8s/specs/postgres-csi/ibm/ibm-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-csi/postgres-csi-app.yaml
  drivers/scheduler/k8s/specs/postgres-csi/pso/pso-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-csi/storage.yaml
  drivers/volume/ibm/ibm.go
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review, Px-Backup

#1557 Adding a new Restore Testcase - PerformRestoreAfterHelmUpgrade
  drivers/pds/dataservice/workloads.go
  drivers/pds/pds.go
  tests/pds/common.go
  tests/pds/dataservice_test.go
  tests/pds/restore_test.go
Labels: ready-for-review

#1549 Added method to create rule for multiple application in one rule
  drivers/backup/backup.go
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup

#1542 Addressing PA-1335: First time rancher cluster login
  deployments/deploy-ssh.sh
  drivers/scheduler/rke/rke.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_rancher_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup

#1584 Fixing issue with setting CurrentClusterConfigPath
  tests/common.go
Labels: ready-for-review, Px-Backup

#1575 PA-1395: Add sh file for clouds
  deployments/deploy-pxb-cloud.sh
Labels: framework, ready-for-review, Px-Backup

#1555 Reading cloudcreds from configmap
  deployments/deploy-ssh.sh
  drivers/backup/cloud_cred_config.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup
