Repository portworx/torpedo, pull requests merged in 2023-10, with the labels that each got.

#1712 fix for zones in gke
  drivers/node/gke/gke.go
  tests/common.go
Labels: ready-for-review

#1710 PA-1684: Fix existing locked bucket cases
  tests/backup/backup_locked_bucket_test.go
Labels: bug, ready-for-review, Px-Backup

#1711 Added new testcase:Kill NFS executor pod during backup and restore
  tests/backup/backup_helper.go
  tests/backup/backup_nfs_test.go
Labels: ready-for-review, Px-Backup

#1728 Fixing testcase DeleteNfsExecutorPodWhileBackupAndRestoreInProgress
  tests/backup/backup_helper.go
  tests/backup/backup_nfs_test.go
Labels: ready-for-review, Px-Backup

#1731 PA-1726: Update `BasicBackupCreation` with testcase id
  tests/backup/backup_test.go
Labels: priority/low, ready-for-review, Px-Backup

#1722 Added new testcase :BackupANamespaceInNfsRestoredFromS3
  tests/backup/backup_helper.go
  tests/backup/backup_nfs_test.go
  tests/backup/backup_restore_basic_test.go
Labels: new-test, ready-for-review, Px-Backup

#1721 Adding tests for triggering px events while cloudsnaps in progress
  drivers/volume/portworx/portworx.go
  tests/basic/customer_issues_test.go
  tests/basic/volume_ops_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review

#1715 Adding virtual machine specs to support Kubevirt
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/aws/sc-aws-ebs.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/pvc-cdi-app-ubuntu.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/pvc-cdi-ubuntu.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/pvc-plane.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/pxd/sc-px-csi.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/svc-clusterip.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/svc-loadbalancer.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/svc-nodeport.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/vm-ubuntu-containerdisk-pvc.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/vm-ubuntu-containerdisk.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/vm-ubuntu-pvc-datavolume.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/vm-ubuntu-pvc.yaml
Labels: ready-for-review, Px-Backup

#1725 PA-1719: Fix upgrade case to run with IKS + PX
  drivers/node/ibm/ibm.go
  tests/backup/backup_helper.go
  tests/common.go
Labels: bug, ready-to-merge, Px-Backup

#1730 [PTX-20112] Add UpgradeLongevity
  tests/basic/longevity_test.go
  tests/testTriggers.go
Labels: new-test, ready-for-review

#1714 [PTX-20334] Fix TriggerDeployNewApps
  tests/testTriggers.go
Labels: bug, ready-for-review

#1743 Kubevirt app deployment fixes
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/k8s/specs/kubevirt-simple-vm/kubevirt-app.yaml
  drivers/scheduler/k8s/specs/kubevirt-vm-pvc/kubevirt-app.yaml
  drivers/scheduler/k8s/specs/kubevirt-vm-pvc/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/kubevirt-vm-pvc/storage.yaml
  drivers/volume/portworx/schedops/k8s-schedops.go
  tests/common.go
Labels: enhancement, framework, ready-for-review, Px-Backup

#1742 Replace UpdateOwnership methods with AddOwnership methods
  tests/backup/backup_helper.go
  tests/backup/backup_orphaned_test.go
  tests/backup/backup_rbac_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup, testing-in-progress

#1745 SwapShareBackup : Fix' backup delete from user' issue in cleanup
  tests/backup/backup_share_test.go
Labels: ready-for-review, Px-Backup

#1732 Added new testcase:DeleteS3ScheduleAndCreateNfsSchedule
  tests/backup/backup_restore_basic_test.go
Labels: ready-for-review, Px-Backup

#1748 Fixed DeleteBackupOfUserNonSharedRBAC ,Removed subpath param from CreateBackupLocationWithContext
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_orphaned_test.go
  tests/backup/backup_rbac_test.go
  tests/backup/backup_share_test.go
  tests/common.go
Labels: enhancement, ready-for-review, Px-Backup

#1744 Added new RBAC TC VerfiyRBACforPxAdmin
  tests/backup/backup_rbac_test.go
Labels: ready-for-review, Px-Backup

#1739 Added new RBAC TC VerfiyRBACforAppAdmin
  tests/backup/backup_helper.go
  tests/backup/backup_rbac_test.go
Labels: new-test, ready-for-review, Px-Backup

#1750 [Kubevirt] Changed logic to check for CDI image import success
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/k8s/specs/kubevirt-vm-pvc/storage.yaml
Labels: framework, ready-for-review, Px-Backup

#1752 Changed nfs mount from master node to worker node
  tests/common.go
Labels: ready-for-review, Px-Backup

#1751 PA-1716: library changes for adding policy to S3 bucket
  deployments/deploy-ssh.sh
  pkg/s3utils/s3utils.go
  tests/backup/backup_basic_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup, Lib

#1755 Adding helper functions for Start, Stop and Restart Kubevirt VMs
  drivers/scheduler/k8s/k8s.go
  go.mod
  go.sum
  tests/backup/backup_helper.go
  vendor/github.com/portworx/sched-ops/k8s/core/nodes.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt/virtualmachine.go
  vendor/github.com/portworx/sched-ops/k8s/storage/storageclass.go
  vendor/modules.txt
Labels: ready-for-review, Px-Backup

#1762 PA-1714 : Add library support to enable the SSE-S3 option during the creation of backup location in the torpedo
  go.mod
  go.sum
  pkg/s3utils/s3utils.go
  tests/backup/backup_basic_test.go
  tests/common.go
  vendor/github.com/portworx/px-backup-api/pkg/apis/v1/api.pb.go
  vendor/github.com/portworx/px-backup-api/pkg/apis/v1/api.pb.gw.go
  vendor/github.com/portworx/px-backup-api/pkg/apis/v1/api.proto
  vendor/github.com/portworx/px-backup-api/pkg/apis/v1/api.swagger.json
  vendor/github.com/portworx/px-backup-api/pkg/apis/v1/common.swagger.json
  vendor/modules.txt
Labels: ready-for-review, Px-Backup, Lib

#1754 PA-1712: Add test to check if kube and portworx namespaces skipped during all namespace backup
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
Labels: new-test, ready-for-review, Px-Backup, Lib

#1713 Added new TC MutipleBackupLocationWithSameEndpoint
  tests/backup/backup_helper.go
  tests/backup/backup_scale_test.go
  tests/common.go
Labels: new-test, ready-for-review, Px-Backup

#1778 PA-1750: Update testrail ID with the combined testcase ID
  tests/backup/backup_upgrade_test.go
Labels: ready-for-review, Px-Backup, MinorStringOrCommentFix

#1775 moved createBackupUntilIncrementalBackup to backup_helper.go
  tests/backup/backup_delete_test.go
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup

#1777 Update import image & pvc the size
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/pvc-cdi-app-ubuntu.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/vm-ubuntu-pvc-datavolume.yaml
Labels: ready-for-review, Px-Backup

#1787 Disabling deletion of backups during cluster deletion
  tests/backup/backup_basic_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_license_test.go
  tests/backup/backup_orphaned_test.go
Labels: ready-for-review, Px-Backup

#1785 update BringUpLargePodsVerifyNoPanic tests for FA deployment
  tests/basic/longevity_test.go
  tests/basic/podmetric_test.go
  tests/basic/pure_test.go
  tests/common.go
Labels: ready-for-review

#1786 PA-1491: Skip log collection in case of OCP
  tests/common.go
Labels: bug, ready-for-review, Lib

#1794 FA Volume token timeout scenario
  deployments/customconfigs/fastpath-vps.yaml
  deployments/customconfigs/repl-vps.yaml
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/k8s/specs/nginx-fada-repl-vps/pure/px-storage-class.yaml
  drivers/scheduler/k8s/specs/nginx-fada-repl-vps/px-pod.yaml
  drivers/scheduler/k8s/specs/nginx-fada-repl-vps/px-pvc.yaml
  tests/basic/pure_test.go
Labels: ready-for-review

#1756 Added new RBAC TC VerfiyRBACforAppUser
  tests/backup/backup_rbac_test.go
Labels: ready-for-review, Px-Backup

#1782 [Kubevirt] Added testcase for backup and restore with different kubevirt VM states
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/pvc-cdi-app-ubuntu.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/svc-nodeport.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/vm-ubuntu-containerdisk-pvc.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-vm/vm-ubuntu-pvc-datavolume.yaml
  drivers/volume/portworx/schedops/k8s-schedops.go
  go.mod
  go.sum
  tests/backup/backup_helper.go
  tests/backup/backup_kubevirt_test.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt/virtualmachine.go
  vendor/modules.txt
Labels: new-test, ready-for-review, Px-Backup

#1799 Fixed DeleteObjectsByMultipleUsersFromNewAdmin testcase failure .
  tests/backup/backup_orphaned_test.go
Labels: ready-for-review, Px-Backup

#1797 FADARemoteDetach: Adding test to validate FADA remote volume detach
  drivers/node/node_registry.go
  drivers/scheduler/k8s/specs/nginx-fada-deploy/pure/px-storage-class.yaml
  drivers/scheduler/k8s/specs/nginx-fada-deploy/px-deploy.yaml
  drivers/scheduler/k8s/specs/nginx-fada-deploy/px-pvc.yaml
  drivers/volume/portworx/portworx.go
  tests/basic/pure_test.go
Labels: ready-for-review

#1793 PA-1712: Update logic to use pod status instead of ns
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
Labels: bug, ready-for-review, Px-Backup

#1795 Fixed RBAC tests failure on RKE
  tests/backup/backup_rbac_test.go
  tests/backup/backup_scale_test.go
Labels: bug, ready-for-review, Px-Backup

#1808 PA-1768: Refetch the list of pods before delete in `DeletePodWithLabelInNamespace()`
  tests/backup/backup_helper.go
Labels: bug, ready-for-review, Px-Backup

#1747 handle KubeVirt VM spec in k8s.GetVolumes() method
  drivers/scheduler/k8s/k8s.go
Labels: do-not-merge

#1801 Added backup success check before restoring:PA-1762
  tests/backup/backup_namespace_labelled_test.go
Labels: ready-for-review, Px-Backup

#1796 Added check for clusterConfigPath for rancher platform
  tests/common.go
Labels: ready-for-review, Px-Backup

#1774 Changes to deployments/deploy-pxb-cloud.sh run sse enabled tests on ibm/cloud platform
  deployments/deploy-pxb-cloud.sh
Labels: enhancement, ready-for-review, Px-Backup

#1806 [PTX-20831] Reinitialize Contexts
  tests/basic/storage_pool_test.go
Labels: ready-for-review, testing-in-progress

#1809 [PTX-20859] Fixing VolUpdateResizeDisk
  tests/basic/storage_pool_test.go
Labels: ready-for-review

#1812 [PTX-20862]AddWithPXRestart
  tests/basic/storage_pool_test.go
Labels: ready-for-review

#1813 Fixed cluster context switch for rke :PA-1773
  tests/common.go
Labels: ready-for-review, Px-Backup

#1815 PA-1776: Add logic to use 8 min timeout instead of 4 min timeout in case of IBM
  tests/common.go
Labels: ready-for-review, Px-Backup

#1650 [PA-1621] Add StartPxBackupTorpedoTest
  tests/backup/backup_basic_test.go
  tests/backup/backup_delete_test.go
  tests/backup/backup_kubevirt_test.go
  tests/backup/backup_license_test.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_namespace_labelled_test.go
  tests/backup/backup_nfs_test.go
  tests/backup/backup_orphaned_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_rancher_test.go
  tests/backup/backup_rbac_test.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_sanity_test.go
  tests/backup/backup_scale_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_upgrade_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup, testing-in-progress, CodeCleanupAndRefactoring

#1826 Made changes for revert done with PB-4621
  tests/backup/backup_helper.go
  tests/backup/backup_rbac_test.go
  tests/backup/backup_scale_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup
