Repository portworx/torpedo, pull requests merged in 2023-05, with the labels that each got.

#1361 Fixing issues with ScaleMongoDBWhileBackupAndRestore
  tests/backup/backup_helper.go
  tests/backup/backup_resiliency_test.go
Labels: bug, ready-for-review, Px-Backup

#1356 Adding logic to get clouddrive for daemon set deployments
  tests/basic/storage_pool_test.go
  tests/common.go
Labels: ready-for-review

#1362 [PA-913] Fix AllNSBackupWithIncludeNewNSOption
  tests/backup/backup_restore_basic_test.go
Labels: bug, ready-for-review, Px-Backup

#1360 Added cluster and ctx parameter support for DeleteSchedule utility
  tests/backup/backup_delete_test.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_upgrade_test.go
  tests/common.go
Labels: enhancement, ready-for-review, Px-Backup

#1350 Adding SkipWaitForCleanVolumes for pool expansion tests
  drivers/volume/common.go
  drivers/volume/portworx/portworx.go
  drivers/volume/volume.go
  tests/basic/storage_pool_test.go
Labels: ready-for-review

#1341 [PA-614] Backup and Restore b/w Diff K8s version....-partial 8/8 (FEAT(the actual test))
  drivers/scheduler/k8s/k8s.go
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
Labels: enhancement, k8s, ready-for-review, Px-Backup

#1366 PTX-17447 Fix add/remove release manifest URL method for upgrade test
  drivers/volume/portworx/portworx.go
Labels: ready-for-review

#1358 PA-841 : Automation of the MySQL workload bench.
  drivers/pds/lib/utils.go
  tests/pds/common.go
  tests/pds/dataservice_test.go
Labels: ready-for-review, testing-in-progress

#1269 [PA-597, 598, 599] TC Automation - PXBackup End-To-End Backup and Restore with Upgrade
  tests/backup/backup_helper.go
  tests/backup/backup_upgrade_test.go
Labels: new-test, ready-to-merge, Px-Backup

#1345 [PA-568] Adding deeper validation in Backup Operation
  drivers/scheduler/k8s/k8s.go
  tests/backup/backup_helper.go
  tests/backup/backup_test.go
  tests/common.go
Labels: bug, enhancement, framework, ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1321 fixes for longevity test
  drivers/node/node_registry.go
  drivers/node/ssh/ssh.go
  drivers/scheduler/k8s/k8s.go
  drivers/volume/common.go
  drivers/volume/portworx/portworx.go
  pkg/aetosutil/dashboardutil.go
  tests/basic/node_decommission_test.go
  tests/basic/storage_pool_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review

#1371 Minor fix for email file name
  tests/basic/ha_update_test.go
  tests/testTriggers.go
Labels: ready-for-review

#1372 Fix for time string in volume create
  drivers/node/node_registry.go
  tests/common.go
Labels: ready-for-review

#1373 Fixing GetStorageDriverNodes for cloud environments
  tests/basic/longevity_test.go
  tests/basic/misc_test.go
  tests/basic/nodeCrash_test.go
  tests/basic/podmetric_test.go
  tests/basic/reboot_test.go
  tests/basic/volume_ops_test.go
  tests/testTriggers.go
Labels: ready-for-review

#1370 PA-1013: Fix cleanup in RebootNodesWhenBackupsAreInProgress
  tests/backup/backup_resiliency_test.go
  tests/common.go
Labels: bug, ready-for-review, Px-Backup

#1374 Added px-backup upgrade related env variables
  deployments/deploy-ssh.sh
  tests/backup/backup_helper.go
  tests/backup/backup_upgrade_test.go
Labels: enhancement, ready-to-merge, Px-Backup

#1379 PTX-17554 Update libopenstorage/operator in vendor
  go.mod
  go.sum
  vendor/github.com/fsnotify/fsnotify/.gitignore
  vendor/github.com/fsnotify/fsnotify/AUTHORS
  vendor/github.com/fsnotify/fsnotify/CHANGELOG.md
  vendor/github.com/fsnotify/fsnotify/CONTRIBUTING.md
  vendor/github.com/fsnotify/fsnotify/LICENSE
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/backend_fen.go
  vendor/github.com/fsnotify/fsnotify/backend_inotify.go
  vendor/github.com/fsnotify/fsnotify/backend_kqueue.go
  vendor/github.com/fsnotify/fsnotify/backend_other.go
  vendor/github.com/fsnotify/fsnotify/backend_windows.go
  vendor/github.com/fsnotify/fsnotify/fen.go
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/fsnotify_unsupported.go
  vendor/github.com/fsnotify/fsnotify/inotify.go
  vendor/github.com/fsnotify/fsnotify/inotify_poller.go
  vendor/github.com/fsnotify/fsnotify/kqueue.go
  vendor/github.com/fsnotify/fsnotify/mkdoc.zsh
  vendor/github.com/fsnotify/fsnotify/system_bsd.go
  vendor/github.com/fsnotify/fsnotify/system_darwin.go
  vendor/github.com/fsnotify/fsnotify/windows.go
  vendor/github.com/libopenstorage/operator/drivers/storage/portworx/util/util.go
  vendor/github.com/libopenstorage/operator/drivers/storage/storage.go
  vendor/github.com/libopenstorage/operator/pkg/apis/addtoscheme_core_v1.go
  vendor/github.com/libopenstorage/operator/pkg/apis/addtoscheme_portworx_v1.go
  vendor/github.com/libopenstorage/operator/pkg/apis/apis.go
  vendor/github.com/libopenstorage/operator/pkg/apis/portworx/portworx.go
  vendor/github.com/libopenstorage/operator/pkg/apis/portworx/v1/doc.go
  vendor/github.com/libopenstorage/operator/pkg/apis/portworx/v1/portworxdiag.go
  vendor/github.com/libopenstorage/operator/pkg/apis/portworx/v1/register.go
  vendor/github.com/libopenstorage/operator/pkg/apis/portworx/v1/zz_generated.deepcopy.go
  vendor/github.com/libopenstorage/operator/pkg/mock/storagedriver.mock.go
  vendor/github.com/libopenstorage/operator/pkg/util/test/util.go
  vendor/github.com/libopenstorage/operator/pkg/util/util.go
  vendor/modules.txt
Labels: ready-for-review

#1369 Add anthos upgrade code in Torpedo
  deployments/deploy-ssh.sh
  drivers/node/ssh/ssh.go
  drivers/scheduler/anthos/anthos.go
  drivers/scheduler/scheduler.go
  tests/common.go
Labels: ready-for-review

#1384 Fixing the bug where we had hardcoded latestPxBackupHelmBranch
  deployments/deploy-ssh.sh
  tests/backup/backup_helper.go
  tests/basic/customer_issues_test.go
Labels: bug, ready-for-review, Px-Backup

#1381 PTX-17570 Add an optional method to upgrade PX Operator during PX upgrade hops based on the PX endpoint
  drivers/volume/portworx/portworx.go
Labels: testing-in-progress

#1383 [PA-1112] Add ScheduleWithCustomAppSpecs
  drivers/scheduler/dcos/dcos.go
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/openshift/openshift.go
  drivers/scheduler/scheduler.go
  tests/common.go
Labels: do-not-merge, Px-Backup, testing-in-progress

#1378 [PA-1010] [PA-1110] Add Deeper Backup Validation to test cases
  tests/backup/backup_delete_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_license_test.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_namespace_labelled_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_test.go
  tests/backup/backup_upgrade_test.go
Labels: enhancement, framework, ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1390 Added prefix support for stork image
  tests/backup/backup_helper.go
Labels: enhancement, ready-for-review, Px-Backup

#1382 Bug fix : Namespace Label clean up
  tests/backup/backup_helper.go
  tests/backup/backup_namespace_labelled_test.go
  tests/backup/backup_restore_basic_test.go
Labels: bug, ready-for-review, Px-Backup, Lib

#1399 PA-1009: Increase interval between backups & reduce number of Simultaneous Backup
  tests/backup/backup_restore_basic_test.go
Labels: bug, ready-for-review, Px-Backup

#1393 Adding capability to run Px-Backup tests on PSO setup
  deployments/deploy-ssh.sh
  drivers/scheduler/dcos/dcos.go
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/k8s/specs/cassandra-pso/cassandra-stress.yaml
  drivers/scheduler/k8s/specs/cassandra-pso/cassandra.yaml
  drivers/scheduler/k8s/specs/cassandra-pso/pure/pure-storage-class.yaml
  drivers/scheduler/k8s/specs/cassandra-pso/pxd/px-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-pso/pure/pure-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-pso/px-postgres-app.yaml
  drivers/scheduler/k8s/specs/postgres-pso/storage.yaml
  drivers/scheduler/scheduler.go
  drivers/volume/pso/pso.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_test.go
  tests/basic/customer_issues_test.go
  tests/common.go
Labels: enhancement, framework, ready-for-review, Px-Backup

#1331 [PA-754] Testcase - Create a schedule backup with old and new namespace
  tests/backup/backup_helper.go
  tests/backup/backup_namespace_labelled_test.go
Labels: new-test, ready-for-review, Px-Backup

#1377 Added app validation after node reboot
  tests/backup/backup_resiliency_test.go
Labels: ready-for-review, Px-Backup

#1402 PA-1127: Collect MongoDB logs in `UpgradePxBackup()`
  tests/backup/backup_helper.go
  tests/common.go
Labels: enhancement, ready-for-review, Px-Backup, testing-in-progress

#1406 Replacing ValidateBackupCluster function
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_test.go
  tests/common.go
Labels: framework, ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1405 Added optional stork upgrade in backup upgrade main test
  drivers/scheduler/k8s/k8s.go
  tests/backup/backup_helper.go
  tests/backup/backup_upgrade_test.go
Labels: enhancement, ready-for-review, Px-Backup

#1409 PTX-17975 Update vendor to not validate telemetry secret ref in op below 1.10
  go.mod
  go.sum
  vendor/github.com/libopenstorage/operator/pkg/util/test/util.go
  vendor/modules.txt
Labels: ready-for-review

#1418 Handled error after updating the statefulset for ScaleMongoDBWhileBackupAndRestore testcase: PA-1159
  tests/backup/backup_resiliency_test.go
Labels: ready-for-review, Px-Backup

#1417 Fixing pool delete for BTRFS set up with journal device
  drivers/volume/common.go
  drivers/volume/portworx/portworx.go
  drivers/volume/volume.go
  tests/basic/misc_test.go
  tests/basic/storage_pool_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review

#1423 PA-1151: Add tc to check backup location post backup delete
  tests/backup/backup_delete_test.go
  tests/common.go
Labels: new-test, ready-for-review, Px-Backup, Lib

#1376 TC Automation : Delete namespace ,delete cluster and re-add it and restore deleted namespace from backup
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
Labels: new-test, ready-for-review, Px-Backup, Lib

#1427 Added testrail ID and cleanup for a testcase
  tests/backup/backup_namespace_labelled_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_upgrade_test.go
Labels: ready-for-review, Px-Backup
