Repository portworx/torpedo, pull requests merged in 2023-06, with the labels that each got.

#1440 [PA-1173] return the backup name for method CreateScheduleBackup*WithValidation
  tests/backup/backup_delete_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_upgrade_test.go
Labels: enhancement, ready-for-review, Px-Backup

#1398 [PA-997] Add support for NFS Backup Location Addition
  deployments/deploy-ssh.sh
  drivers/drivers.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_helper.go
  tests/common.go
Labels: ready-for-review, Px-Backup

#1425 Adding namespace label related tests
  tests/backup/backup_helper.go
  tests/backup/backup_namespace_labelled_test.go
Labels: new-test, ready-for-review, Px-Backup

#1431 Addressed PA-1169, Minor changes in the code
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
Labels: ready-for-review, Px-Backup

#1438 Added nfs subpath deletion
  tests/backup/backup_basic_test.go
  tests/backup/backup_delete_test.go
  tests/common.go
Labels: enhancement, ready-for-review, Px-Backup, testing-in-progress

#1447 [PA-1233] Add StartPxBackupTorpedoTest and EndPxBackupTorpedoTest
  drivers/backup/helper/backup_helper.go
  tests/backup/backup_basic_test.go
Labels: ready-for-review, Px-Backup

#1449 Minor refactoring in namespace label tests
  tests/backup/backup_namespace_labelled_test.go
  tests/backup/backup_restore_basic_test.go
Labels: ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1441 [PA-1180] vendoring in latest sched-ops
  drivers/scheduler/dcos/dcos.go
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/scheduler.go
  go.mod
  go.sum
  tests/backup/backup_helper.go
  tests/basic/reboot_test.go
  tests/testTriggers.go
  vendor/github.com/go-openapi/swag/.gitattributes
  vendor/github.com/go-openapi/swag/.golangci.yml
  vendor/github.com/go-openapi/swag/.travis.yml
  vendor/github.com/go-openapi/swag/doc.go
  vendor/github.com/go-openapi/swag/file.go
  vendor/github.com/go-openapi/swag/loading.go
  vendor/github.com/go-openapi/swag/post_go18.go
  vendor/github.com/go-openapi/swag/post_go19.go
  vendor/github.com/go-openapi/swag/pre_go18.go
  vendor/github.com/go-openapi/swag/pre_go19.go
  vendor/github.com/go-openapi/swag/util.go
  vendor/github.com/go-openapi/swag/yaml.go
  vendor/github.com/google/gnostic/jsonschema/display.go
  vendor/github.com/google/gnostic/jsonschema/models.go
  vendor/github.com/google/gnostic/jsonschema/reader.go
  vendor/github.com/google/gnostic/jsonschema/writer.go
  vendor/github.com/google/gnostic/openapiv2/OpenAPIv2.go
  vendor/github.com/google/gnostic/openapiv3/OpenAPIv3.go
  vendor/github.com/google/gnostic/openapiv3/OpenAPIv3.pb.go
  vendor/github.com/google/gnostic/openapiv3/OpenAPIv3.proto
  vendor/github.com/google/gnostic/openapiv3/README.md
  vendor/github.com/google/gnostic/openapiv3/annotations.pb.go
  vendor/github.com/google/gnostic/openapiv3/annotations.proto
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/LICENSE
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/apis/volumesnapshot/v1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/apis/volumesnapshot/v1/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/apis/volumesnapshot/v1/types.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/apis/volumesnapshot/v1/zz_generated.deepcopy.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/clientset/versioned/scheme/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/clientset/versioned/scheme/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/clientset/versioned/typed/volumesnapshot/v1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/clientset/versioned/typed/volumesnapshot/v1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/clientset/versioned/typed/volumesnapshot/v1/volumesnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/clientset/versioned/typed/volumesnapshot/v1/volumesnapshotcontent.go
  vendor/github.com/libopenstorage/stork/pkg/apis/stork/v1alpha1/action.go
  vendor/github.com/libopenstorage/stork/pkg/apis/stork/v1alpha1/register.go
  vendor/github.com/libopenstorage/stork/pkg/apis/stork/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/libopenstorage/stork/pkg/client/clientset/versioned/typed/stork/v1alpha1/action.go
  vendor/github.com/libopenstorage/stork/pkg/client/clientset/versioned/typed/stork/v1alpha1/generated_expansion.go
  vendor/github.com/libopenstorage/stork/pkg/client/clientset/versioned/typed/stork/v1alpha1/stork_client.go
  vendor/github.com/mailru/easyjson/jlexer/lexer.go
  vendor/github.com/portworx/sched-ops/k8s/externalsnapshotter/externalsnapshotter.go
  vendor/github.com/portworx/sched-ops/k8s/externalsnapshotter/volumesnapshotclasses.go
  vendor/github.com/portworx/sched-ops/k8s/externalsnapshotter/volumesnapshotcontents.go
  vendor/github.com/portworx/sched-ops/k8s/externalsnapshotter/volumesnapshots.go
  vendor/github.com/portworx/sched-ops/k8s/stork/action.go
  vendor/github.com/portworx/sched-ops/k8s/stork/stork.go
  vendor/github.com/portworx/sched-ops/task/task.go
  vendor/modules.txt
Labels: k8s, ready-for-review, Px-Backup, testing-in-progress, dependencies, VendorInApi

#1458 [PA-984] Fix SwapShareBackup
  tests/backup/backup_share_test.go
  tests/common.go
Labels: bug, ready-for-review, Px-Backup

#1464 Adding Backuplocation status to logs while cleaning up
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup, testing-in-progress

#1465 [PA-1249] Add timestamp to backup location names
  tests/backup/backup_basic_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_test.go
Labels: bug, ready-for-review, Px-Backup

#1432 Add migration schedules trigger to stork async DR longevity
  pkg/asyncdr/asyncdr.go
  tests/basic/longevity_test.go
  tests/testTriggers.go
Labels: ready-for-review

#1470 Added stork longevity trigger for deleting old NS for Stork Longevity
  pkg/asyncdr/asyncdr.go
  tests/basic/longevity_test.go
  tests/testTriggers.go
Labels: ready-for-review

#1473 Fixing test `DeleteBackupAndCheckIfBucketIsEmpty` to work with both S3 and NFS backup location
  pkg/s3utils/s3utils.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_delete_test.go
  tests/backup/backup_helper.go
  tests/common.go
Labels: bug, ready-for-review, Px-Backup

#1475 Added migrationschedule trigger for MetroDR
  tests/basic/longevity_test.go
  tests/testTriggers.go
Labels: ready-for-review, stork-longevity

#1478 Fix getting keycloak endpoint after px-backup keycloak bump
  drivers/backup/auth.go
Labels: framework, ready-for-review, Px-Backup, testing-in-progress

#1476 Adding schedular upgrade test for AKS
  Dockerfile
  deployments/deploy-ssh.sh
  drivers/node/aks/aks.go
  tests/basic/asg_test.go
  tests/basic/scheduler_upgrade_test.go
  tests/basic/storage_pool_test.go
Labels: ready-for-review

#1448 fix for test case PTX-17727
  drivers/volume/common.go
  drivers/volume/portworx/portworx.go
  drivers/volume/volume.go
  tests/basic/storage_pool_test.go
  tests/basic/volume_ops_test.go
  tests/common.go
Labels: ready-for-review

#1480 PTX-18480 fix SKIP_PX_OPERATOR_UPGRADE flag and not ignore
  deployments/deploy-ssh.sh
Labels: ready-to-merge, ready-for-review

#1481 update DeleteNfsSubPath to not use env subpath
  tests/backup/backup_basic_test.go
  tests/backup/backup_delete_test.go
  tests/backup/backup_helper.go
  tests/common.go
Labels: enhancement, ready-for-review, Px-Backup, testing-in-progress

#1486 Added random string to nfs global location
  tests/backup/backup_basic_test.go
Labels: bug, ready-for-review, Px-Backup

#1487 updated WaitForBackupDeletion with default timeout value
  tests/backup/backup_share_test.go
Labels: ready-for-review, Px-Backup

#1483 PA-210: Resize Dataservice PVC from k8s
  tests/pds/dataservice_test.go
Labels: ready-for-review

#1471 Addressed PA-1251: Modified the validation of px-backup pods
  tests/backup/backup_helper.go
  tests/backup/backup_license_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup

#1494 Added time.sleep of 5 seconds between parallel backups
  tests/backup/backup_resiliency_test.go
Labels: bug, ready-for-review, Px-Backup

#1489 Adding cloud snap zombie replicas validation test
  drivers/node/ssh/ssh.go
  tests/basic/customer_issues_test.go
  tests/basic/storage_pool_test.go
  tests/common.go
Labels: ready-for-review

#1492 [PA-1255 & PA-1256] Add custom bucket logic
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
Labels: bug, ready-for-review, Px-Backup

#1500 Increased sleep time to allow stork upgrade to complete
  tests/backup/backup_helper.go
Labels: ready-for-review, Px-Backup

#1502 PTX-18636 Updating operator package for cloudStorage fixes
  go.mod
  go.sum
  vendor/github.com/dgrijalva/jwt-go/.gitignore
  vendor/github.com/dgrijalva/jwt-go/.travis.yml
  vendor/github.com/dgrijalva/jwt-go/LICENSE
  vendor/github.com/dgrijalva/jwt-go/MIGRATION_GUIDE.md
  vendor/github.com/dgrijalva/jwt-go/README.md
  vendor/github.com/dgrijalva/jwt-go/VERSION_HISTORY.md
  vendor/github.com/dgrijalva/jwt-go/claims.go
  vendor/github.com/dgrijalva/jwt-go/doc.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/errors.go
  vendor/github.com/dgrijalva/jwt-go/hmac.go
  vendor/github.com/dgrijalva/jwt-go/map_claims.go
  vendor/github.com/dgrijalva/jwt-go/none.go
  vendor/github.com/dgrijalva/jwt-go/parser.go
  vendor/github.com/dgrijalva/jwt-go/rsa.go
  vendor/github.com/dgrijalva/jwt-go/rsa_pss.go
  vendor/github.com/dgrijalva/jwt-go/rsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/signing_method.go
  vendor/github.com/dgrijalva/jwt-go/token.go
  vendor/github.com/libopenstorage/openstorage/api/api.go
  vendor/github.com/libopenstorage/openstorage/api/api.pb.go
  vendor/github.com/libopenstorage/openstorage/api/api.pb.gw.go
  vendor/github.com/libopenstorage/openstorage/api/api.proto
  vendor/github.com/libopenstorage/openstorage/api/errors/errors.go
  vendor/github.com/libopenstorage/openstorage/api/spec/spec_handler.go
  vendor/github.com/libopenstorage/openstorage/pkg/auth/selfsigned.go
  vendor/github.com/libopenstorage/openstorage/pkg/auth/signature.go
  vendor/github.com/libopenstorage/openstorage/pkg/auth/token.go
  vendor/github.com/libopenstorage/openstorage/pkg/correlation/context.go
  vendor/github.com/libopenstorage/openstorage/pkg/grpcserver/creds_injector.go
  vendor/github.com/libopenstorage/openstorage/pkg/mount/raw_mount.go
  vendor/github.com/libopenstorage/openstorage/volume/volume.go
  vendor/github.com/libopenstorage/openstorage/volume/volume_not_supported.go
  vendor/github.com/libopenstorage/operator/drivers/storage/portworx/util/util.go
  vendor/github.com/libopenstorage/operator/pkg/apis/portworx/v1/portworxdiag.go
  vendor/github.com/libopenstorage/operator/pkg/client/clientset/versioned/clientset.go
  vendor/github.com/libopenstorage/operator/pkg/client/clientset/versioned/scheme/register.go
  vendor/github.com/libopenstorage/operator/pkg/client/clientset/versioned/typed/portworx/v1/doc.go
  vendor/github.com/libopenstorage/operator/pkg/client/clientset/versioned/typed/portworx/v1/generated_expansion.go
  vendor/github.com/libopenstorage/operator/pkg/client/clientset/versioned/typed/portworx/v1/portworx_client.go
  vendor/github.com/libopenstorage/operator/pkg/client/clientset/versioned/typed/portworx/v1/portworxdiag.go
  vendor/github.com/libopenstorage/operator/pkg/mock/openstoragesdk.mock.go
  vendor/github.com/libopenstorage/operator/pkg/mock/preflight.mock.go
  vendor/github.com/libopenstorage/operator/pkg/util/test/util.go
  vendor/github.com/portworx/kvdb/.travis.yml
  vendor/github.com/portworx/kvdb/common/common.go
  vendor/github.com/portworx/kvdb/kvdb.go
  vendor/github.com/portworx/kvdb/mem/kv_mem.go
  vendor/modules.txt
Labels: ready-for-review
