Repository portworx/torpedo, pull requests merged in 2023-03, with the labels that each got.

#1144 New Test case addition for cloud drive
  tests/basic/storage_pool_test.go
  tests/common.go
Labels: ready-for-review

#1160 [PA-662] Modify GetPxBackupNamespace to detect PxBackup namespace
  drivers/backup/auth.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_test.go
Labels: bug, Px-Backup

#1152 Adding test for all pools deletion
  drivers/node/node_registry.go
  drivers/volume/portworx/portworx.go
  tests/basic/storage_pool_test.go
  tests/common.go
Labels: ready-for-review

#1162 Adding DeleteCloudAccounts in the cleanup section of tests where it was missed
  drivers/pds/lib/utils.go
  drivers/pds/targetcluster/targetcluster.go
  tests/backup/backup_helper.go
  tests/backup/backup_test.go
Labels: ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1166 [PA-646] Update backup name in BasicBackupCreation CreateRestore
  tests/backup/backup_test.go
Labels: bug, Px-Backup

#1130 PA-604 Add test for Custom Resource Restore
  drivers/scheduler/k8s/specs/mysql-backup/aws/aws-storage-class.yaml
  drivers/scheduler/k8s/specs/mysql-backup/azure/azure-storage-class.yaml
  drivers/scheduler/k8s/specs/mysql-backup/px-mysql-app.yaml
  drivers/scheduler/k8s/specs/mysql-backup/px-mysql-storage.yaml
  drivers/scheduler/k8s/specs/mysql-backup/pxd/px-mysql-snapshot-clones.yaml
  drivers/scheduler/k8s/specs/mysql-backup/pxd/px-mysql-snapshots.yaml
  drivers/scheduler/k8s/specs/mysql-backup/pxd/px-storage-class.yaml
  tests/backup/backup_helper.go
  tests/backup/backup_test.go
Labels: new-test, Px-Backup

#1172 Bugfix - Adding users to group was not uniform
  drivers/pds/lib/utils.go
  tests/backup/backup_test.go
Labels: bug, ready-for-review, Px-Backup

#1168 Adding tests multi vols and pools scenrio
  drivers/node/ssh/ssh.go
  drivers/volume/portworx/portworx.go
  tests/basic/storage_pool_test.go
  tests/common.go
Labels: ready-for-review

#1176 [PA-659] Fix old and add new helper methods for scheduling backups
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
Labels: Px-Backup

#1192 Added Testrail result update capability for Px Backup system tests
  pkg/testrailuttils/testrailutils.go
  tests/backup/backup_basic_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_test.go
  tests/common.go
Labels: enhancement, framework, ready-for-review, Px-Backup

#1183 Added scenario of terminating instance after pool expansion
  drivers/node/ssh/ssh.go
  tests/basic/basic_test.go
  tests/basic/storage_pool_test.go
  tests/common.go
Labels: ready-for-review

#1186 Verify cancelling all the running backup jobs:PA:606
  tests/backup/backup_helper.go
  tests/backup/backup_resiliency_test.go
Labels: new-test, ready-for-review, Px-Backup

#1191 [PA-609] TC Automation - All ns backup with include new ns option
  tests/backup/backup_restore_basic_test.go
Labels: new-test, Px-Backup

#1187 PA-603: Add test for BackupSync
  tests/backup/backup_basic_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/common.go
Labels: new-test, ready-for-review, Px-Backup, Lib

#1196 Added tc:Scale down MongoDB to repl=0 when backups/restores are in Progress
  tests/backup/backup_helper.go
  tests/backup/backup_resiliency_test.go
Labels: new-test, ready-for-review, Px-Backup

#1203 Fix logic to add newly added BL
  tests/backup/backup_restore_basic_test.go
Labels: bug, ready-for-review, Px-Backup

#1198 PA-602: Add test to delete incremental backups and recreate them
  tests/backup/backup_resiliency_test.go
Labels: new-test, ready-for-review, Px-Backup

#1210 Add additional logging for debugging
  tests/backup/backup_restore_basic_test.go
Labels: bug, ready-for-review, Px-Backup

#1201 Adding logic to check to drive rebalance when add drive is initiated
  drivers/volume/portworx/portworx.go
  tests/basic/storage_pool_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review

#1214 Fixed a cleanup related bug in ShareBackupsAndClusterWithUser
  tests/backup/backup_basic_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_share_test.go
Labels: bug, ready-for-review, Px-Backup

#1218 Addressed PA-725:Increased time for mongodb pod status check
  tests/backup/backup_helper.go
  tests/backup/backup_resiliency_test.go
Labels: bug

#1216 Bug fix in ShareBackupWithUsersAndGroups
  tests/backup/backup_share_test.go
Labels: bug, ready-for-review, Px-Backup

#1222 PA-726: Fixed cloud credentials deletion issue with SwapShareBackup
  tests/backup/backup_share_test.go
Labels: bug, ready-to-merge, Px-Backup

#1224 Removed password strings
  tests/backup/backup_basic_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_test.go
Labels: bug, framework, ready-to-merge, Px-Backup, CodeCleanupAndRefactoring

#1223 Increased default timeouts
  drivers/volume/portworx/portworx.go
  tests/backup/backup_helper.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_share_test.go
Labels: ready-for-review, Px-Backup, testing-in-progress, CodeCleanupAndRefactoring

#1221 Add the ability to add namespace labels to namespaces created for backup
  drivers/scheduler/dcos/dcos.go
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/scheduler.go
Labels: ready-for-review, Px-Backup, Lib

#1213 [PA-583] Add a method to dump stork logs
  tests/common.go
Labels: ready-for-review, Px-Backup

#1229 Fixed cleanup issue with SwapShareBackup
  tests/backup/backup_helper.go
  tests/backup/backup_share_test.go
Labels: bug, ready-for-review, Px-Backup

#1215 [PA-650] Modify backup and restore success checks to stop on failure
  tests/backup/backup_helper.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
Labels: bug, ready-to-merge, Px-Backup, CodeCleanupAndRefactoring

#1211 PA-708: Add test for IssueDeleteOfIncrementalBackupsAndRestore
  tests/backup/backup_delete_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_resiliency_test.go
Labels: new-test, ready-for-review, Px-Backup, Lib

#1228 [PA-733] Fix CreateCloudCredential
  tests/backup/backup_delete_test.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_test.go
  tests/common.go
Labels: bug, ready-to-merge, Px-Backup, CodeCleanupAndRefactoring

#1225 Added TC:Reboots node when backup is in progress
  tests/backup/backup_helper.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_resiliency_test.go
Labels: new-test, Px-Backup

#1249 [PA-734] Fix CleanupCloudSettingsAndClusters
  tests/backup/backup_helper.go
Labels: bug, ready-to-merge, Px-Backup

#1230 [PA-735] Remove RegisterBackupCluster and add GetClusterStatus
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_delete_test.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_test.go
Labels: bug, ready-to-merge, Px-Backup, CodeCleanupAndRefactoring

#1237 Upgrade Px-Backup utility function
  tests/backup/backup_basic_test.go
  tests/backup/backup_helper.go
  tests/backup/backup_upgrade_test.go
  tests/common.go
Labels: enhancement, framework, ready-for-review, Px-Backup

#1233 Ptx 16538: Add testrail link to Autopilot tests
  tests/basic/autopilot_test.go
Labels: in-progress, ready-for-review

#1241 PA-724: Fix `DeleteIncrementalBackupsAndRecreateNew` failure
  tests/backup/backup_delete_test.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
Labels: bug, ready-for-review, Px-Backup

#1204 PA-600:Added test for StorkUpgradeWithBackup
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_upgrade_test.go
  tests/common.go
Labels: new-test, ready-for-review, Px-Backup

#1246 Added testcase:ScaleDownPxBackupPodWhileBackupAndRestoreIsInProgress: Pa-738
  tests/backup/backup_helper.go
  tests/backup/backup_resiliency_test.go
Labels: new-test, Px-Backup

#1253 PA-732: Fix `ReplicaChangeWhileRestore` failure
  tests/backup/backup_portworx_test.go
Labels: bug, ready-to-merge, Px-Backup

#1236 Adding ibmcloud cli in Dockerfile
  Dockerfile
  drivers/node/ibm/ibm.go
  drivers/node/node.go
  drivers/node/ssh/ssh.go
  tests/basic/asg_test.go
  tests/basic/storage_pool_test.go
  tests/common.go
Labels: ready-for-review

#1265 [PA-614] Backup and Restore b/w Diff K8s version....-partial 3 (FEAT:ValidatingWebhookConfiguration:create,destroy)
  drivers/scheduler/k8s/k8s.go
Labels: enhancement, k8s, ready-for-review, Px-Backup

#1231 Helper functions for Namespace labelling tests
  tests/backup/backup_helper.go
Labels: ready-to-merge, Px-Backup

#1275 Fixed ViewOnlyFullBackupRestoreIncrementalBackup cleanup
  drivers/pds/lib/resiliency_utils.go
  drivers/pds/lib/utils.go
  tests/backup/backup_share_test.go
Labels: bug, ready-for-review, Px-Backup

#1260 PA-792: Fix `credName` issue in `IssueDeleteOfIncrementalBackupsAndRestore`
  tests/backup/backup_delete_test.go
  tests/common.go
Labels: bug, ready-for-review, Px-Backup

#1280 Corrected testcase RebootNodesWhenBackupsAreInProgress
  tests/backup/backup_basic_test.go
Labels: ready-for-review, Px-Backup

#1264 Fixing eligible drive path selection
  drivers/volume/portworx/portworx.go
Labels: ready-for-review
