Repository portworx/torpedo, pull requests merged in 2023-04, with the labels that each got.

#1261 PA-724: Add `DeleteBackupAndWait()` call in `DeleteIncrementalBackupsAndRecreateNew` case
  tests/backup/backup_delete_test.go
Labels: bug, ready-to-merge, Px-Backup

#1291 Corrected code for test case :CancelAllRunningBackupJobs
  tests/backup/backup_helper.go
  tests/backup/backup_resiliency_test.go
Labels: bug, ready-for-review, Px-Backup

#1267 Added TC : CancelAllRunningRestoreJobs
  tests/backup/backup_helper.go
  tests/backup/backup_resiliency_test.go
Labels: new-test, ready-for-review, Px-Backup

#1296 Fixed issue with concurrent backups and test panic in nightly runs
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
Labels: ready-to-merge, ready-for-review, Px-Backup

#1258 [PA-614] Backup and Restore b/w Diff K8s version....-partial 2 (FIX,REFACT(SetClusterContext))
  drivers/node/ssh/ssh.go
  drivers/volume/portworx/portworx.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_share_test.go
  tests/basic/async_dr_test.go
  tests/common.go
Labels: bug, documentation, ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1284 Fixing node maintenance for storage full add disk
  pkg/aetosutil/dashboardutil.go
  tests/basic/storage_pool_test.go
Labels: ready-for-review

#1285 TC Automation Issue multiple custom restores at the same time using different storage class mapping
  tests/backup/backup_restore_basic_test.go
Labels: new-test, ready-for-review, Px-Backup

#1307 Wait for valid uptime after VM reset
  drivers/node/ssh/ssh.go
Labels: ready-for-review

#1294 Added testcase :NodeCountForLicensing:PA-816
  tests/backup/backup_helper.go
  tests/backup/backup_license_test.go
Labels: new-test, ready-for-review, Px-Backup

#1243 [PA-751] Add N number of labels to the namespace, perform backup and restore
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
Labels: new-test, ready-for-review, Px-Backup

#1208 Adding upgrade test for IKS deployment using catalog
  pkg/osutils/osutils.go
  tests/basic/upgrade_test.go
Labels: ready-for-review

#1235 TC Automation : Resize volume while schedule backup
  tests/backup/backup_portworx_test.go
  tests/backup/backup_share_test.go
Labels: new-test, ready-for-review, Px-Backup

#1247 [PA-769] Filter using namespace label and perform backup and schedule backup
  tests/backup/backup_restore_basic_test.go
Labels: new-test, ready-for-review, Px-Backup

#1313 [PA-828] FIX `task.DoRetryTimeout` not using `defer ginkgo.GinkgoRecover()`
  tests/backup/backup_basic_test.go
  tests/backup/backup_delete_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
  tests/common.go
Labels: bug, framework, ready-for-review, Px-Backup, CodeCleanupAndRefactoring

#1274 Added testcase:NamespaceLabelledBackupShareWithDifferentAccessMode:PA-749
  tests/backup/backup_helper.go
  tests/backup/backup_namespace_labelled_test.go
Labels: new-test, ready-for-review, Px-Backup

#1293 PA-707: Add CloudSnapsSafeWhenBackupLocationDeleteTest test
  tests/backup/backup_restore_basic_test.go
Labels: new-test, ready-for-review, Px-Backup

#1240 [PA-748] Set unset namespace labels during backup schedule
  tests/backup/backup_helper.go
  tests/backup/backup_restore_basic_test.go
Labels: new-test, ready-for-review, Px-Backup

#1220 [PA-722] Duplicate backup and restore it on cluster with different K8s version
  drivers/scheduler/k8s/k8s.go
  tests/backup/backup_restore_basic_test.go
Labels: new-test, ready-for-review, Px-Backup

#1301 Fix user backup validate issue
  tests/backup/backup_helper.go
  tests/backup/backup_share_test.go
Labels: bug, ready-for-review, Px-Backup

#1324 Fixdelpvc jk
  drivers/pds/lib/utils.go
  tests/pds/dataservice_test.go
Labels: ready-for-review

#1287 Added TC : DeleteBucketVerifyCloudBackupMissing
  tests/backup/backup_delete_test.go
  tests/backup/backup_helper.go
Labels: new-test, ready-for-review, Px-Backup

#1272 [PA-614] Backup and Restore b/w Diff K8s version....-partial 6 (FEAT:RbacObjects:destroy)
  drivers/scheduler/k8s/k8s.go
Labels: enhancement, k8s, ready-for-review, Px-Backup

#1271 [PA-614] Backup and Restore b/w Diff K8s version....-partial 5 (FEAT:CR:create,destroy)
  drivers/scheduler/k8s/k8s.go
Labels: enhancement, k8s, ready-for-review, Px-Backup

#1333 Added EndPxBackupTorpedoTest in JustAfterEach
  tests/backup/backup_license_test.go
  tests/backup/backup_resiliency_test.go
Labels: ready-for-review, Px-Backup

#1330 Restart pds application pod during resource update
  drivers/pds/lib/resiliency_utils.go
  drivers/pds/lib/utils.go
  tests/pds/common.go
  tests/pds/resiliency_test.go
Labels: ready-for-review

#1335 PA-861: Fix incremental backup cases
  tests/backup/backup_delete_test.go
Labels: bug, Px-Backup, testing-in-progress

#1322 Fixing DMTHIN storageless conversion
  drivers/volume/portworx/portworx.go
  tests/basic/storage_pool_test.go
  tests/common.go
Labels: ready-for-review

#1337 Handled cluster context switching issue in `IssueMultipleRestoresWithNamespaceAndStorageClassMapping`
  tests/backup/backup_license_test.go
  tests/backup/backup_share_test.go
  tests/pds/dataservice_test.go
Labels: bug, ready-for-review, Px-Backup, testing-in-progress

#1304 [PA-614] Backup and Restore b/w Diff K8s version....-partial (FEAT(elasticsearch-crd-webhook spec))
  drivers/scheduler/k8s/specs/elasticsearch-crd-webhook/aws/aws-storage-class.yaml
  drivers/scheduler/k8s/specs/elasticsearch-crd-webhook/azure/azure-storage-class.yaml
  drivers/scheduler/k8s/specs/elasticsearch-crd-webhook/cr-elasticsearch.yaml
  drivers/scheduler/k8s/specs/elasticsearch-crd-webhook/crds.yaml
  drivers/scheduler/k8s/specs/elasticsearch-crd-webhook/operator.yaml
  drivers/scheduler/k8s/specs/elasticsearch-crd-webhook/pure/pure-storage-class.yaml
  drivers/scheduler/k8s/specs/elasticsearch-crd-webhook/pxd/px-storage-class.yaml
Labels: enhancement, new-test, ready-to-merge, ready-for-review, Px-Backup

#1342 Added check for cluster state to be Online when new cluster is added: PA-876
  tests/common.go
Labels: ready-for-review, Px-Backup

#1334 [PA-860] Fix and refactor AllNSBackupWithIncludeNewNSOption
  tests/backup/backup_restore_basic_test.go
Labels: bug, do-not-merge, ready-for-review, Px-Backup

#1351 Added tests to check autofstrim on volume on destination (DR)
  tests/basic/longevity_test.go
  tests/testTriggers.go
Labels: ready-for-review

#1353 Fixing drive maps logic for FA
  drivers/volume/portworx/portworx.go
  tests/basic/ha_update_test.go
  tests/basic/volume_ops_test.go
  tests/common.go
Labels: ready-for-review

#1348 Added testcase : LicensingCountWithNodeLabelledBeforeClusterAddition
  tests/backup/backup_helper.go
  tests/backup/backup_license_test.go
Labels: new-test, ready-for-review, Px-Backup

#1349 PA-899: Add libraries for large resource creation
  tests/common.go
Labels: ready-for-review, Px-Backup, Lib

#1352 Added testcase: LicensingCountBeforeAndAfterBackupPodRestart
  tests/backup/backup_helper.go
  tests/backup/backup_license_test.go
Labels: new-test, ready-for-review, Px-Backup
