Repository portworx/torpedo, pull requests merged in 2024-03, with the labels that each got.

#2119 PB-5850: Add code to create global rules for all cases
  deployments/deploy-pxb-cloud.sh
  deployments/deploy-ssh.sh
  tests/backup/backup_basic_test.go
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup

#2084 Refactor longevity tests for backup and PXE
  Makefile
  deployments/deploy-ssh.sh
  tests/backup/backup_basic_test.go
  tests/backup_helper.go
  tests/backuptestTriggers.go
  tests/basic/volume_ops_test.go
  tests/common.go
  tests/longevity/backup_longevity_test.go
  tests/longevity/longevity_helper.go
  tests/longevity/longevity_suite_test.go
  tests/longevity/longevity_test.go
  tests/testTriggers.go
Labels: framework, ready-for-review, Px-Backup

#2137 Added Stork Longevity Stats and Refactored Code
  pkg/stats/stats.go
  tests/testTriggers.go
Labels: ready-for-review, stork-longevity

#2130 Running sync command on pods before starting the test
  drivers/utilities/utilities.go
Labels: Px-Backup, testing-in-progress

#2135 Verify that the restore is successful when backup on a VM is in progress on a VM in the namespace
  tests/backup/backup_kubevirt_test.go
  tests/backup_helper.go
Labels: new-test, ready-for-review, Px-Backup

#2051 [TC Automation] FADAVolMigrateValidation
  tests/basic/pure_test.go
Labels: ready-for-review

#2115 Verify that the restore of Kubevirt VM is successful and the VM pods are running on the designated Kubevirt nodes
  drivers/applications/kubevirt/kubevirt.go
  drivers/scheduler/k8s/k8s.go
  go.mod
  go.sum
  tests/backup/backup_kubevirt_test.go
  tests/backup_helper.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt/kubevirt.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt/virtualmachine.go
  vendor/github.com/portworx/sched-ops/k8s/policy/poddisruptionbudget.go
  vendor/github.com/portworx/sched-ops/k8s/policy/poddisruptionbudget_v1beta1.go
  vendor/github.com/portworx/sched-ops/k8s/policy/podsecuritypolicy.go
  vendor/github.com/portworx/sched-ops/k8s/policy/policy.go
  vendor/modules.txt
Labels: new-test, ready-for-review, Px-Backup

#2144 Added Stats for Stork Migrationschedule
  pkg/asyncdr/asyncdr.go
  tests/testTriggers.go
Labels: ready-for-review, stork-longevity

#2136 PB-5886: Removed Step from ScheduleAppsAndValidate method
  apiServer/taas/apiserver.go
  apiServer/taas/utils/constants.go
  apiServer/taas/utils/torpedoutils.go
  tests/common.go
Labels: ready-for-review, Px-Backup

#2142 Fixed restore validation
  tests/backup/backup_scale_test.go
Labels: ready-for-review, Px-Backup

#2131 Fixed the test sse-s3 cleanup issue as per the new changes made in 2.7.0
  tests/backup/backup_sse_test.go
Labels: ready-for-review, Px-Backup

#2147 Library - Create and Delete Backup/Backup Schedule
  drivers/unifiedPlatform/apiStructs/apiTypes.go
  drivers/unifiedPlatform/apiStructs/backupConfig.go
  drivers/unifiedPlatform/apiStructs/common.go
  drivers/unifiedPlatform/apiStructs/targetCluster.go
  drivers/unifiedPlatform/pds/backend/v1/api/backupConfig.go
  drivers/unifiedPlatform/pds/backend/v1/grpc/backupConfig.go
  drivers/unifiedPlatform/pds/backend/v1/grpc/common.go
  drivers/unifiedPlatform/pds/backend/v1/grpc/deployments.go
  drivers/unifiedPlatform/pds/pds.go
  drivers/unifiedPlatform/pdsLibs/backupConfig.go
  drivers/unifiedPlatform/pdsLibs/dsLib.go
  drivers/unifiedPlatform/stworkflows/workflowDataservice.go
  drivers/utilities/utilities.go
  tests/unifiedPlatform/pds/pds_dataservice_test.go
  tests/unifiedPlatform/platform/platform_basic_test.go
  tests/unifiedPlatform/platform/platform_test.go
Labels: ready-for-review

#2146 Added test case to run VM Backup with freeze only without unfreeze and vice versa
  tests/backup/backup_kubevirt_test.go
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup

#2096 TC automation for namespace with multiple volumes
  drivers/scheduler/k8s/specs/postgres-backup-multivol/aws/aws-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-backup-multivol/azure/azure-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-backup-multivol/pure/pure-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-backup-multivol/px-postgres-app.yaml
  drivers/scheduler/k8s/specs/postgres-backup-multivol/pxd/px-storage-class.yaml
  tests/backup/backup_basic_test.go
  tests/backup/backup_scale_test.go
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup, testing-in-progress

#2156 Added new kubevirt test KubevirtInPlaceRestoreWithReplaceAndRetain
  tests/backup/backup_kubevirt_test.go
Labels: ready-for-review, Px-Backup

#2161 Library - Backup RD operations
  drivers/unifiedPlatform/apiStructs/apiTypes.go
  drivers/unifiedPlatform/apiStructs/backup.go
  drivers/unifiedPlatform/pds/backend/v1/api/backup.go
  drivers/unifiedPlatform/pds/backend/v1/grpc/backup.go
  drivers/unifiedPlatform/pds/pds.go
  drivers/unifiedPlatform/pdsLibs/backup.go
  drivers/unifiedPlatform/pdsLibs/backupConfig.go
  tests/unifiedPlatform/platform/platform_test.go
  vendor/github.com/pure-px/apis/public/portworx/pds/backup/apiv1/Makefile
  vendor/github.com/pure-px/apis/public/portworx/pds/backup/apiv1/backup.pb.go
  vendor/github.com/pure-px/apis/public/portworx/pds/backup/apiv1/backup.pb.gw.go
  vendor/github.com/pure-px/apis/public/portworx/pds/backup/apiv1/backup.pb.md
  vendor/github.com/pure-px/apis/public/portworx/pds/backup/apiv1/backup.proto
  vendor/github.com/pure-px/apis/public/portworx/pds/backup/apiv1/backup.swagger.json
  vendor/github.com/pure-px/apis/public/portworx/pds/backup/apiv1/backup_grpc.pb.go
  vendor/modules.txt
Labels: ready-for-review

#2145 PB-5912: Corrected testcase : RebootNodesWhenBackupsAreInProgress
  tests/backup/backup_resiliency_test.go
Labels: Px-Backup

#2166 Collect anthos upgrade logs from Anthos DataPlanev2 cluster
  drivers/scheduler/anthos/anthos.go
Labels: ready-for-review

#2175 Fixed ValidateRestore in case of namespace mapping
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup, testing-in-progress

#2176 PTX-22748 Fix OCP Prometheus prereq methods and move it to openshift scheduler
  apiServer/taas/utils/constants.go
  apiServer/taas/utils/torpedoutils.go
  drivers/scheduler/openshift/openshift.go
  tests/basic/upgrade_cluster_test.go
Labels: ready-for-review

#2174 [PTX-22739] Add Step In Common Functions
  apiServer/taas/utils/torpedoutils.go
  tests/common.go
Labels: ready-for-review, testing-in-progress

#2164 Added new service endpoints `/getvmsbyns` and `/getvmsbynslabels`
  apiServer/taas/apiserver.go
  apiServer/taas/utils/torpedoutils.go
  tests/backup_helper.go
Labels: Px-Backup, taas

#2179 Changed file creation count to 10k for each iteration
  tests/backup/backup_kdmp_test.go
Labels: ready-for-review, Px-Backup

#2169 Return namespace from ScheduleAppsAndValidate method
  apiServer/taas/apiserver.go
  apiServer/taas/utils/torpedoutils.go
Labels: Px-Backup

#2182 Refactored Target Custer Code, Added Test case and Basic workflow for platform
  drivers/unifiedPlatform/apiStructs/apiTypes.go
  drivers/unifiedPlatform/apiStructs/application.go
  drivers/unifiedPlatform/apiStructs/backup.go
  drivers/unifiedPlatform/apiStructs/onboard.go
  drivers/unifiedPlatform/apiStructs/targetCluster.go
  drivers/unifiedPlatform/apiStructs/workflowConstants.go
  drivers/unifiedPlatform/platform/backend/v1/api/applications.go
  drivers/unifiedPlatform/platform/backend/v1/api/onboard.go
  drivers/unifiedPlatform/platform/backend/v1/api/targetCluster.go
  drivers/unifiedPlatform/platform/backend/v1/api/targetClusterManifest.go
  drivers/unifiedPlatform/platform/backend/v1/grpc/applications.go
  drivers/unifiedPlatform/platform/backend/v1/grpc/onboard.go
  drivers/unifiedPlatform/platform/backend/v1/grpc/targetCluster.go
  drivers/unifiedPlatform/platform/backend/v1/grpc/targetClusterManifest.go
  drivers/unifiedPlatform/platform/platform.go
  drivers/unifiedPlatform/platformLibs/application.go
  drivers/unifiedPlatform/platformLibs/onboard.go
  drivers/unifiedPlatform/platformLibs/targetCluster.go
  drivers/unifiedPlatform/stworkflows/common.go
  drivers/unifiedPlatform/stworkflows/workflowAccount.go
  drivers/unifiedPlatform/stworkflows/workflowPlatform.go
  drivers/unifiedPlatform/stworkflows/workflowPlatformRBAC.go
  drivers/unifiedPlatform/stworkflows/workflowTargetCluster.go
  drivers/unifiedPlatform/stworkflows/workflowTenant.go
  tests/unifiedPlatform/platform/platform_test.go
  tests/unifiedPlatform/platform/platform_test_dummy.go
  vendor/github.com/pure-px/apis/public/portworx/platform/onboard/apiv1/Makefile
  vendor/github.com/pure-px/apis/public/portworx/platform/onboard/apiv1/onboard.pb.go
  vendor/github.com/pure-px/apis/public/portworx/platform/onboard/apiv1/onboard.pb.gw.go
  vendor/github.com/pure-px/apis/public/portworx/platform/onboard/apiv1/onboard.pb.md
  vendor/github.com/pure-px/apis/public/portworx/platform/onboard/apiv1/onboard.proto
  vendor/github.com/pure-px/apis/public/portworx/platform/onboard/apiv1/onboard.swagger.json
  vendor/github.com/pure-px/apis/public/portworx/platform/onboard/apiv1/onboard_grpc.pb.go
  vendor/modules.txt
Labels: ready-for-review

#2187 [PB-6037]Add receiver and recipient object Support
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
Labels: ready-for-review, Px-Backup, Lib

#2188 PB-6000 API expose for adding labels to namespace
  apiServer/taas/apiserver.go
  apiServer/taas/utils/torpedoutils.go
Labels: ready-for-review, Px-Backup, taas

#2171 [TC Automation] driveAddPxRestart PTX-15682
  tests/basic/storage_pool_test.go
Labels: ready-for-review

#2195 Fixed backupLocation UID mapping for users
  tests/backup/backup_share_test.go
Labels: ready-for-review, Px-Backup

#2139 [PTX-22666] Fix GetWaitTime
  tests/longevity/longevity_helper.go
Labels: ready-for-review

#2197 Changed triggerFunctions to triggerBackupFunctions, updated trigger name in each triggers.
  tests/backuptestTriggers.go
  tests/longevity/backup_longevity_test.go
  tests/longevity/longevity_helper.go
  tests/testTriggers.go
Labels: ready-for-review, Px-Backup

#2207 Adding new test KubevirtVMRestoreWithAfterChangingVMConfig
  drivers/scheduler/k8s/specs/kubevirt-cirros-cd-with-pvc/pvc-multi-disk.yaml
  drivers/scheduler/k8s/specs/kubevirt-cirros-cd-with-pvc/pxd/sc-px-multi-disk.yaml
  drivers/scheduler/k8s/specs/kubevirt-cirros-cd-with-pvc/svc-nodeport.yaml
  drivers/scheduler/k8s/specs/kubevirt-cirros-cd-with-pvc/vm-cirros.yaml
  drivers/scheduler/k8s/specs/kubevirt-cirros-container-disk/vm-cirros.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-pvc/pvc-boot-disk.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-pvc/pvc-multi-disk.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-pvc/pxd/sc-px-multi-disk.yaml
  drivers/scheduler/k8s/specs/kubevirt-multi-pvc/vm-multi-pvc.yaml
  tests/backup/backup_basic_test.go
  tests/backup/backup_kubevirt_test.go
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup

#2205 PTX-22856 Fix OCP upgrade issue and add more logs
  drivers/scheduler/openshift/openshift.go
Labels: ready-for-review

#2124 Autopilot changes for OCP prometheus
  drivers/scheduler/dcos/dcos.go
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/scheduler.go
Labels: ready-for-review

#2208 Analyse stork test failures in full test pipelines - Added log statements to debug failures
  drivers/backup/portworx/portworx.go
  tests/backup/backup_stork_test.go
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup

#2140 PB-5792: Add OCP upgrade test for Px-Backup
  tests/backup/backup_upgrade_test.go
  tests/basic/upgrade_cluster_test.go
  tests/common.go
Labels: ready-to-merge, Px-Backup

#2222 Workflows/Libraries for GRPC and API for PlatformOnboardingTest
  drivers/unifiedPlatform/automationModels/apiTypes.go
  drivers/unifiedPlatform/automationModels/cloudCredentials.go
  drivers/unifiedPlatform/automationModels/common.go
  drivers/unifiedPlatform/automationModels/project.go
  drivers/unifiedPlatform/automationModels/targetCluster.go
  drivers/unifiedPlatform/platform/backend/v1/api/project.go
  drivers/unifiedPlatform/platform/backend/v1/api/targetCluster.go
  drivers/unifiedPlatform/platform/backend/v1/api/targetClusterManifest.go
  drivers/unifiedPlatform/platform/backend/v1/grpc/backupLocation.go
  drivers/unifiedPlatform/platform/backend/v1/grpc/namespace.go
  drivers/unifiedPlatform/platform/backend/v1/grpc/project.go
  drivers/unifiedPlatform/platform/backend/v1/grpc/targetCluster.go
  drivers/unifiedPlatform/platform/backend/v1/grpc/targetClusterManifest.go
  drivers/unifiedPlatform/platform/platform.go
  drivers/unifiedPlatform/platformLibs/project.go
  drivers/unifiedPlatform/platformLibs/targetCluster.go
  drivers/unifiedPlatform/stworkflows/workflowBackupLocation.go
  drivers/unifiedPlatform/stworkflows/workflowCloudCredentials.go
  drivers/unifiedPlatform/stworkflows/workflowNamespace.go
  drivers/unifiedPlatform/stworkflows/workflowProject.go
  drivers/unifiedPlatform/stworkflows/workflowTargetCluster.go
  tests/unifiedPlatform/platform/platform_test.go
  tests/unifiedPlatform/platform/platform_test_dummy.go
Labels: ready-for-review

#2209 Adding locked bucket backup triggers to longevity test
  tests/backup/backup_basic_test.go
  tests/backuptestTriggers.go
  tests/longevity/backup_longevity_test.go
  tests/longevity/longevity_helper.go
  tests/testTriggers.go
Labels: ready-for-review, Px-Backup

#2151 Fixing the issue of provisioner being override by torpedo params even it is passed by ScheduleOptions from test and Adding support for provisioner volume snapshotclass mapping
  drivers/scheduler/k8s/k8s.go
  go.mod
  go.sum
  tests/backup_helper.go
  vendor/github.com/portworx/px-backup-api/pkg/apis/v1/api.pb.go
  vendor/github.com/portworx/px-backup-api/pkg/apis/v1/api.proto
  vendor/github.com/portworx/px-backup-api/pkg/apis/v1/api.swagger.json
  vendor/github.com/portworx/sched-ops/k8s/batch/batch.go
  vendor/github.com/portworx/sched-ops/k8s/storage/csidriver.go
  vendor/github.com/portworx/sched-ops/k8s/storage/storage.go
  vendor/modules.txt
Labels: ready-for-review, Px-Backup

#2226 [PTX-22944] Print pxctl status in endLongevityTest
  tests/testTriggers.go
Labels: ready-for-review

#2227 [PTX-22951] Move doPDBValidation and OpVer24_1_0 to common.go
  tests/basic/upgrade_cluster_test.go
  tests/common.go
Labels: ready-for-review

#2211 [PTX-22940,PTX-22907,PWX-36497]Stablizing node decomm and pool maintenance cycle validations in longevity
  drivers/volume/portworx/portworx.go
  tests/basic/ha_update_test.go
  tests/basic/node_decommission_test.go
  tests/basic/upgrade_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review

#2224 Removed parallel restore from ScaleDownPxBackupPodWhileBackupAndRestoreIsInProgress testcase
  tests/backup/backup_resiliency_test.go
  tests/backup_helper.go
Labels: ready-for-review

#2238 [PTX-22993] Fix GetVolumeConsumedSize
  drivers/volume/portworx/portworx.go
  tests/common.go
Labels: ready-for-review

#2246 Corrected testcase :ClusterBackupShareToggle
  tests/backup/backup_share_test.go
Labels: Px-Backup, testing-in-progress

#2242 Fixing the logic in test PoolAddDriveVolResize to incrase repl on new…
  tests/basic/storage_pool_test.go
  tests/common.go
  tests/testTriggers.go
Labels: ready-for-review

#2141 TC Automation - Default Backup & Restore with both Kubevirt & non Kubevirt applications
  drivers/backup/portworx/portworx.go
  tests/backup/backup_kubevirt_test.go
  tests/backup/backup_test_labels.go
Labels: ready-for-review, Px-Backup

#2254 Fixed the context switching issue for KubevirtVMBackupRestoreWithNodeSelector
  tests/backup/backup_kubevirt_test.go
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup

#2257 PTX-23067 Fix docker config secret creation
  deployments/deploy-ssh.sh
  drivers/scheduler/k8s/k8s.go
Labels: ready-for-review

#2218 Pb 6239 delete pod
  apiServer/taas/apiserver.go
  apiServer/taas/utils/torpedoutils.go
Labels: ready-for-review

#2235 PB-6302: Update sched-ops to reinitialise
  go.mod
  go.sum
  tests/common.go
  vendor/github.com/go-gorp/gorp/v3/.travis.yml
  vendor/github.com/go-gorp/gorp/v3/README.md
  vendor/github.com/go-gorp/gorp/v3/dialect_snowflake.go
  vendor/github.com/go-gorp/gorp/v3/logging.go
  vendor/github.com/go-gorp/gorp/v3/test_all.sh
  vendor/github.com/lib/pq/conn.go
  vendor/github.com/lib/pq/error.go
  vendor/github.com/lib/pq/ssl.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt/kubevirt.go
  vendor/github.com/portworx/sched-ops/k8s/prometheus/alertmanagerconfig.go
  vendor/github.com/portworx/sched-ops/k8s/prometheus/prometheus.go
  vendor/github.com/portworx/sched-ops/k8s/tektoncd/pipeline.go
  vendor/github.com/portworx/sched-ops/k8s/tektoncd/task.go
  vendor/github.com/portworx/sched-ops/k8s/tektoncd/tektoncd.go
  vendor/modules.txt
Labels: ready-for-review, Px-Backup

#2125 Added new TC KubevirtScheduleVmDelete
  tests/backup/backup_kubevirt_test.go
  tests/backup/backup_test_labels.go
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup, testing-in-progress

#2262 Fixing update torpedo yaml for image pull secrets
  deployments/deploy-ssh.sh
  drivers/node/ssh/ssh.go
  drivers/scheduler/k8s/k8s.go
Labels: ready-for-review

#2223 TC Automation - Custom Backup & Restore with both Kubevirt & non Kubevirt namespaces
  tests/backup/backup_kubevirt_test.go
  tests/backup/backup_test_labels.go
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup

#2267 Removing restores from list which are not created
  tests/backup/backup_nfs_test.go
Labels: Px-Backup

#2259 PB-5707: Assign labels to the backup tests in torpedo
  tests/backup/backup_delete_test.go
  tests/backup/backup_dr_test.go
  tests/backup/backup_kdmp_test.go
  tests/backup/backup_license_test.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_multiple_provisioner_test.go
  tests/backup/backup_namespace_labelled_test.go
  tests/backup/backup_nfs_test.go
  tests/backup/backup_orphaned_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_rancher_test.go
  tests/backup/backup_rbac_test.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_sanity_test.go
  tests/backup/backup_scale_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_sse_test.go
  tests/backup/backup_stork_test.go
  tests/backup/backup_test_labels.go
  tests/backup/backup_upgrade_test.go
Labels: ready-for-review, Px-Backup

#2270 DestroyAppsWithData function should auto recovered when panic happend
  tests/backup/backup_portworx_test.go
  tests/common.go
Labels: ready-for-review, Px-Backup

#2260 Fixed freeze and unfreeze rule for test KubevirtVMBackupRestoreWithDifferentState
  drivers/backup/backup.go
  drivers/backup/portworx/portworx.go
  tests/backup/backup_kubevirt_test.go
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup
