Repository portworx/torpedo, pull requests merged in 2024-02, with the labels that each got.

#2024 TC to validate backup and restore for a rancher project with multiple member
  drivers/scheduler/rke/rke.go
  tests/backup/backup_rancher_test.go
Labels: ready-for-review, Px-Backup

#2030 Adding postgres & vdbench apps to support FADA & FBDA for backup
  drivers/scheduler/k8s/specs/postgres-fada/pure/pure-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-fada/px-postgres-app.yaml
  drivers/scheduler/k8s/specs/postgres-fada/storage.yaml
  drivers/scheduler/k8s/specs/postgres-fbda/pure/pure-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-fbda/px-postgres-app.yaml
  drivers/scheduler/k8s/specs/postgres-fbda/storage.yaml
  drivers/scheduler/k8s/specs/vdbench-fbda/pure/pure-storage-class.yaml
  drivers/scheduler/k8s/specs/vdbench-fbda/px-vdbench-app.yaml
  drivers/scheduler/k8s/specs/vdbench-fbda/storage.yaml
Labels: ready-for-review, Px-Backup

#2028 Refactoring backup_helper file
  tests/backup/backup_basic_test.go
  tests/backup/backup_delete_test.go
  tests/backup/backup_dummy.go
  tests/backup/backup_kdmp_test.go
  tests/backup/backup_kubevirt_test.go
  tests/backup/backup_license_test.go
  tests/backup/backup_locked_bucket_test.go
  tests/backup/backup_namespace_labelled_test.go
  tests/backup/backup_nfs_test.go
  tests/backup/backup_orphaned_test.go
  tests/backup/backup_portworx_test.go
  tests/backup/backup_rancher_test.go
  tests/backup/backup_rbac_test.go
  tests/backup/backup_resiliency_test.go
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_sanity_test.go
  tests/backup/backup_scale_test.go
  tests/backup/backup_share_test.go
  tests/backup/backup_sse_test.go
  tests/backup/backup_stork_test.go
  tests/backup/backup_upgrade_test.go
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup

#2047 [PTX-21248] Update Dockerfile to Go 1.21.6
  Dockerfile
Labels: ready-for-review

#2039 Adding basic restore event - Without data validation
  tests/backup/backup_longevity_test.go
  tests/backuptestTriggers.go
  tests/testTriggers.go
Labels: ready-for-review, Px-Backup, Lib

#2057 PTX-22175 Updating libopenstorage/operator vendor package
  go.mod
  go.sum
  vendor/github.com/libopenstorage/operator/drivers/storage/portworx/util/util.go
  vendor/github.com/libopenstorage/operator/pkg/mock/openstoragesdk.mock.go
  vendor/github.com/libopenstorage/operator/pkg/mock/sdkserver.go
  vendor/github.com/libopenstorage/operator/pkg/util/test/util.go
  vendor/modules.txt
Labels: ready-for-review

#2064 PB-5488: Change logic to check is original backups are synced or not
  tests/backup/backup_restore_basic_test.go
Labels: ready-for-review, Px-Backup

#2065 Fixed Restore Delete issue.
  tests/backup/backup_orphaned_test.go
Labels: bug, ready-for-review, Px-Backup

#2058 PB-5519: Fix backup location issue in locked bucket tests
  tests/backup/backup_basic_test.go
  tests/backup/backup_locked_bucket_test.go
Labels: ready-for-review, Px-Backup

#2066 Fixed panic during cluster update .
  tests/backup/backup_orphaned_test.go
Labels: bug, ready-for-review, Px-Backup

#2068 Modifying stork test case as per current behaviour
  tests/backup/backup_stork_test.go
Labels: ready-for-review, Px-Backup

#2050 Adding node validations during platform upgrade
  deployments/deploy-ssh.sh
  drivers/node/node_registry.go
  drivers/node/vsphere/vsphere.go
  drivers/volume/portworx/schedops/k8s-schedops.go
  tests/basic/upgrade_cluster_test.go
  tests/basic/upgrade_test.go
  tests/common.go
Labels: ready-for-review

#2070 [PTX-21248] Go Mod Tidy and Vendor
  go.mod
  vendor/github.com/onsi/ginkgo/LICENSE
  vendor/github.com/onsi/ginkgo/config/config.go
  vendor/github.com/onsi/ginkgo/formatter/formatter.go
  vendor/github.com/onsi/ginkgo/reporters/default_reporter.go
  vendor/github.com/onsi/ginkgo/reporters/fake_reporter.go
  vendor/github.com/onsi/ginkgo/reporters/junit_reporter.go
  vendor/github.com/onsi/ginkgo/reporters/reporter.go
  vendor/github.com/onsi/ginkgo/reporters/stenographer/console_logging.go
  vendor/github.com/onsi/ginkgo/reporters/stenographer/fake_stenographer.go
  vendor/github.com/onsi/ginkgo/reporters/stenographer/stenographer.go
  vendor/github.com/onsi/ginkgo/reporters/teamcity_reporter.go
  vendor/github.com/onsi/ginkgo/types/code_location.go
  vendor/github.com/onsi/ginkgo/types/deprecation_support.go
  vendor/github.com/onsi/ginkgo/types/synchronization.go
  vendor/github.com/onsi/ginkgo/types/types.go
  vendor/modules.txt
Labels: ready-for-review

#2071 PTX-22305 Update sched-ops vendor package
  go.mod
  go.sum
  vendor/github.com/portworx/sched-ops/k8s/core/persistentvolumeclaims.go
  vendor/modules.txt
Labels: ready-for-review

#2075 Revert "PTX-22246 Fix atupilot tests validation issues (#2067)"
  drivers/scheduler/dcos/dcos.go
  drivers/scheduler/k8s/k8s.go
  drivers/scheduler/scheduler.go
Labels: ready-for-review

#2078 PB-5628: Updating the Golang version and removing the copy porx from the Dockerfile (TaaS).
  Dockerfile-taas
Labels: ready-for-review, Px-Backup

#2044 TC to validate the restores for multiple backups when intermittent backups are deleted
  tests/backup/backup_restore_basic_test.go
Labels: ready-for-review, Px-Backup

#2089 Removing error from string when err is nil
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup

#2088 Disable datavalidation for CreateBackupAndRestoreForAllCombinationsOfSSES3AndDenyPolicy in sse s3 pipeline
  tests/backup/backup_sse_test.go
Labels: ready-for-review, Px-Backup

#2083 PB-5664: Fix concurrent map writes issue in backup tests
  tests/backup/backup_restore_basic_test.go
  tests/backup/backup_share_test.go
Labels: ready-for-review, Px-Backup

#2081 Adding azure driver support for px-backup
  drivers/scheduler/k8s/specs/postgres-azure-disk/azure/azure-storage-class.yaml
  drivers/scheduler/k8s/specs/postgres-azure-disk/postgres-azure-disk-app.yaml
  drivers/scheduler/k8s/specs/postgres-azure-disk/storage.yaml
  drivers/volume/azure/azure.go
  tests/backup_helper.go
  tests/common.go
Labels: ready-for-review, Px-Backup

#2095 Remove space at the end of `git-clone-task.yaml` file name
  drivers/scheduler/k8s/specs/tektoncd/git-clone-task.yaml
Labels: ready-for-review, Px-Backup

#2094 Data injection for Kubevirt VMs with SSH
  drivers/applications/apptypes/appType.go
  drivers/applications/driver/driver.go
  drivers/applications/kubevirt/kubevirt.go
  drivers/applications/mysql/mysql.go
  drivers/applications/postgres/postgres.go
  drivers/scheduler/k8s/specs/kubevirt-cirros-container-disk/vm-cirros.yaml
  drivers/utilities/utilities.go
  tests/backup/backup_kubevirt_test.go
  tests/backup_helper.go
  tests/common.go
Labels: framework, ready-for-review, Px-Backup

#2085 PTX-21180 Adding Upgrade methods for AKS scheduler
  drivers/scheduler/aks/aks.go
  drivers/volume/portworx/schedops/aks-schedops.go
  tests/basic/scheduler_upgrade_test.go
  tests/basic/upgrade_cluster_test.go
  tests/common.go
Labels: ready-for-review

#2062 Added new TC BackupAndRestoreSyncDR
  drivers/scheduler/k8s/k8s.go
  tests/backup/backup_dr_test.go
  tests/backup_helper.go
Labels: new-test, ready-for-review, Px-Backup

#2098 Fixing namespace label issues
  tests/backup/backup_restore_basic_test.go
Labels: ready-for-review, Px-Backup

#2101 PTX-21181 Add method to upgrade GKE versions
  drivers/node/gke/gke.go
  drivers/scheduler/aks/aks.go
  drivers/scheduler/gke/gke.go
  drivers/scheduler/openshift/openshift.go
  drivers/volume/portworx/schedops/gke-schedops.go
  drivers/volume/portworx/schedops/k8s-schedops.go
  tests/basic/upgrade_cluster_test.go
  tests/common.go
Labels: ready-for-review

#2106 PTX-22515 Fix minor torpedo cloud run issues
  deployments/deploy-ssh.sh
  drivers/scheduler/aks/aks.go
  drivers/scheduler/gke/gke.go
Labels: ready-for-review

#2113 Vendored in latest changes from px-backup-api for 2.7.0
  go.mod
  go.sum
  tests/common.go
  vendor/github.com/portworx/px-backup-api/pkg/apis/v1/api.pb.go
  vendor/github.com/portworx/px-backup-api/pkg/apis/v1/api.pb.gw.go
  vendor/github.com/portworx/px-backup-api/pkg/apis/v1/api.proto
  vendor/github.com/portworx/px-backup-api/pkg/apis/v1/api.swagger.json
  vendor/modules.txt
Labels: Px-Backup

#2105 Enable SECURITY_CONTEXT for OpenShift
  deployments/deploy-ssh.sh
Labels: ready-for-review

#2114 Creating label map for Px-Backup tests
  deployments/deploy-ssh.sh
  tests/backup/backup_test_labels.go
  tests/backup/backup_upgrade_test.go
  tests/backup_helper.go
  tests/basic/longevity_test.go
  tests/testTriggers.go
Labels: enhancement, framework, ready-for-review, Px-Backup

#2117 Added helper function for VM Backup
  tests/backup_helper.go
Labels: ready-for-review, Px-Backup

#2043 Adding stork asyncdr disruptive cases
  tests/basic/longevity_test.go
  tests/testTriggers.go
Labels: ready-for-review, stork-longevity

#2120 PTX-22577 Do not reboot master nodes for RebootOneNode test
  tests/basic/reboot_test.go
Labels: ready-for-review

#2118 repro clousnap restore
  tests/basic/longevity_test.go
  tests/testTriggers.go
Labels: ready-for-review

#2126 Added code to get backup status before proceeding for restore for test case SwapShareBackup
  tests/backup/backup_share_test.go
Labels: ready-for-review, Px-Backup

#2056 [PTX-22115] Fix ValidateCreateVolume
  drivers/volume/portworx/portworx.go
  tests/testTriggers.go
Labels: ready-for-review

#2133 PTX-22637 Adding more debug logs to validateMountsInPods()
  drivers/volume/portworx/schedops/k8s-schedops.go
Labels: ready-for-review
